#catalogs.section-content.table-responsive
  - if @catalogs.any?
    %table.expanded-table.catalogs-list
      %thead
        %th
        %th.icon
        %th Fecha
        %th Hora
        %th Conjuntos de datos
        %th Recursos
        %th.view Descargar
        %th
      %tbody
        - @catalogs.each do |catalog|
          %tr
            %td
            %td
              - if catalog == @organization.current_catalog
                = image_tag "mini-catalog.png"
              - else
                = image_tag "update-log.png"
            - cache ['catalogs', catalog] do
              %td= I18n.l(catalog.created_at, :format => :short)
              %td= I18n.l(catalog.created_at, :format => :hour)
              %td= catalog.datasets_count
              %td= catalog.distributions_count
              %td
                = link_to image_tag("download.png"), catalog.csv_file.url
            %td
              - if catalog == @organization.current_catalog
                %small
                  = link_to gov_link(@organization) do
                    = image_tag "catalog.png"
                    Ver en datos.gob.mx
    #catalogs_links.section-links
      .col-md-4.col-md-offset-6
        = will_paginate @catalogs, :class => "pagination pull-right"
  - else
    .col-md-5.col-md-offset-2
      %em Aún no existen catálogos.
