- if datasets.present?
  %h3.title= file_structure_feedback(datasets)
  %table.table.table-striped
    %thead
      %tr
        %th ds:title
        %th ds:description
        %th ds:keyword
        %th ds:publisher
        %th ds:accessLevel
        %th recursos
    %tbody
      - datasets.each do |dataset|
        %tr{class: "#{preview_dataset_class(dataset)}"}
          %td= dataset.title
          %th= dataset.description
          %td= dataset.keyword
          %td= dataset.publisher
          %th= dataset.accessLevel
          %td= dataset.distributions.count
