.row
  #publish_catalog{:class => "#{display_publish_form?(from_dashboard)}"}
    %span.h4 Paso 5
    .step-holder.col-md-10.pull-right
      %label Publica tu catálogo.
      = form_tag(publish_catalog_organization_path(current_user.organization), method: "post", id: "requirements") do
        .checkbox
          %label.center-block
            = check_box_tag(:personal_data, 1, false, :class => "requirement")
            Los conjuntos de datos no violan los lineamientos de protección de datos personales.
        .checkbox
          %label.center-block
            = check_box_tag(:open_data, 1, false, :class => "requirement")
            Los conjuntos de datos cumplen con las características de datos abiertos.
        .checkbox
          %label.center-block
            = check_box_tag(:office_permission, 1, false, :class => "requirement")
            Se validó con la oficina de enlace de transparencia, que las bases de datos se puedan publicar.
        .checkbox
          %label.center-block
            = check_box_tag(:data_policy_requirements, 1, false, :class => "requirement")
            Confirmo que lo que se publicará cumple con los lineamientos de la Política de Datos Abiertos.
        = submit_tag("Publicar", :class => "btn button disabled", :id => "publish")
        = link_to "Lo publicaré después, quiero avanzar", publish_later_organization_path(current_user.organization) unless from_dashboard
