.container
  - breadcrumb :catalog, @catalog
  .card
    %h3.title Validar y publicar
    %p
      A continuaci&oacute;n se muestra la informaci&oacute;n que ser&aacute;
      publicada en el portal de datos.gob.mx. Por favor valida su consistencia
      para poder publicar.

    = form_for current_organization.catalog, url: publish_catalog_path(current_organization.catalog), method: :put do |f|
      - @datasets.each do |dataset|
        %h5.subtitle= dataset.title
        .section
          .row
            .col-xs-12.col-sm-4
              %p.dark Nombre
            .col-xs-12.col-sm-8
              %p= dataset.title

          .row
            .col-xs-12.col-sm-4
              %p.dark Descripci&oacute;n
            .col-xs-12.col-sm-8
              %p= dataset.description

          .row
            .col-xs-12.col-sm-4
              %p.dark Identificador
            .col-xs-12.col-sm-8
              %p= dataset.identifier

          .row
            .col-xs-12.col-sm-4
              %p.dark Cargo de responsable
            .col-xs-12.col-sm-8
              %p= dataset.contact_position

          .row
            .col-xs-12.col-sm-4
              %p.dark Frecuencia de actualizaci&oacute;n
            .col-xs-12.col-sm-8
              %p= accrual_periodicity_translate(dataset.accrual_periodicity)

          .row
            .col-xs-12.col-sm-4
              %p.dark Per&iacute;odo de tiempo que cubre
            .col-xs-12.col-sm-8
              %p= dataset.temporal

          .row
            .col-xs-12.col-sm-4
              %p.dark Fecha de &uacute;ltima modificaci&oacute;n
            .col-xs-12.col-sm-8
              %p.timezone= dataset.modified

          .row
            .col-xs-12.col-sm-4
              %p.dark Sector
            .col-xs-12.col-sm-8
              %p= sector_title(dataset)

          .row
            .col-xs-12.col-sm-4
              %p.dark Palabras clave
            .col-xs-12.col-sm-8
              %p= dataset.keyword

          .row
            .col-xs-12.col-sm-4
              %p.dark Direcci&oacute;n web de diccionario
            .col-xs-12.col-sm-8
              %p= dataset.landing_page

        .row
          %table.table.table-striped.table-condensed
            %thead
              %tr
                %th
                  Nombre del recurso
                  %i.fa.fa-caret-down
                %th
                  Fecha de &uacute;ltima modificaci&oacute;n
                  %i.fa.fa-caret-down
                %th
                  Per&iacute;odo de tiempo cubierto
                  %i.fa.fa-caret-down
                %th
                  URL de descarga
                  %i.fa.fa-caret-down
            %tbody
              - dataset.distributions.each do |distribution|
                - next unless distribution.documented?
                - next unless params['catalog']['distribution_ids'].map(&:to_i).include? distribution.id
                %tr
                  %td
                    = hidden_field_tag 'catalog[distribution_ids][]', distribution.id
                    = "#{distribution.title} en formato #{distribution.media_type}"
                  %td.timezone= distribution.modified
                  %td= distribution.temporal
                  %td= link_to truncate(distribution.download_url, length: 30), distribution.download_url

      .section
        %p.dark
          %input#agreement-publish{ type: 'checkbox', 'onClick'=>'termsConfirmed()' }
            = t('agreement.publish')
        %p.dark
          %input#agreement-validated{ type: 'checkbox', 'onClick'=>'termsConfirmed()' }
            = t('agreement.validated')

      = f.button t('action.publish'), type: 'submit', class: 'btn btn-primary disabled', id: 'publish'
      = link_to 'Volver al catálogo', catalog_datasets_path(current_organization.catalog), class: 'btn btn-default'
