- breadcrumb :catalog, @catalog
%h3 Validar y publicar
= form_for current_organization.catalog, url: publish_catalog_path(current_organization.catalog), method: :put do |f|
  .row
    .col-md-9
      %p
        A continuaci&oacute;n se muestra la informaci&oacute;n que ser&aacute;
        publicada en el portal de datos.gob.mx. Por favor valida su consistencia
        para poder publicar.
  .row
    .col-md-12
      .table-responsive
        %table.table
          %thead.catalog-header
            %tr
              %th.center #
              %th Conjuntos y recursos de datos
              %th.center Fecha de compromiso
              %th.center
                Acciones
          %tbody
            - @datasets.each_with_index do |dataset, index|
              %tr.dataset.active
                %td.center
                  %strong= index + 1
                %td
                  %a
                    = hidden_field_tag 'catalog[dataset_ids][]', dataset.id
                    = dataset.title
                %td.center
                  = dataset.publish_date.to_date.strftime('%F')
                %td.col-md-3
                  %ul.nav.nav-pills.nav-justified
                    %li{role: 'presentation'}
                      = link_to edit_dataset_path(dataset) do
                        %span.icon.icon-right
                          = inline_svg 'edit.svg'
                        Modificar
              - dataset.distributions.each do |distribution|
                - next unless @distributions.include?(distribution)
                %tr.distribution
                  %td
                  %td.nested
                    = hidden_field_tag 'catalog[distribution_ids][]', distribution.id
                    = distribution.title
                  %td.center= distribution.publish_date&.strftime('%F')
                  %td
                    %ul.nav.nav-pills.nav-justified
                      %li{role: 'presentation'}
                        = link_to edit_distribution_path(distribution) do
                          %span.icon.icon-right
                            = inline_svg 'edit.svg'
                          Modificar
  .row
    .col-md-9
      .checkbox
        %label
          %input#agreement-publish{ type: 'checkbox', 'onClick'=>'termsConfirmed()' }
            = t('agreement.publish')
      .checkbox
        %label
          %input#agreement-validated{ type: 'checkbox', 'onClick'=>'termsConfirmed()' }
            = t('agreement.validated')
      .form-group
        = f.button t('action.publish'), type: 'submit', class: 'btn btn-primary disabled', id: 'publish', disabled: true
        = link_to 'Volver al catálogo', catalog_datasets_path(current_organization.catalog), class: 'btn btn-alt'
