.container
  .card
    %h3.title Publica
    %h5.subtitle Cat&aacute;logo de datos institucional
    %p
      Publica el Cat&aacute;logo de datos Institucional en datos.gob.mx

    .row
      .col-md-6
        .card.padding-top.bg--grey
          %h3.title Última versión
          - if @organization.last_file_version.present?
            %h5.subtitle= I18n.l(@organization.last_file_version.created_at, format: :short)
            %ul.list
              %li.item
                %span= "#{@organization.last_file_version.datasets_count} conjuntos de datos"
              %li.item
                %span= "#{@organization.last_file_version.distributions_count} recursos"
          - else
            %h5.subtitle No tienes ningún catálogo.
        = link_to 'Subir nueva versión', new_catalog_path(new_version: true), class: 'btn btn-primary'
      .col-md-6
        .card.padding-top.bg--grey
          %h3.title Versión publicada
          - if @organization.current_catalog.present?
            %h5.subtitle= I18n.l(@organization.current_catalog.created_at, format: :short)
            %ul.list
              %li.item
                %span= "#{@organization.last_file_version.datasets_count} conjuntos de datos"
              %li.item
                %span= "#{@organization.last_file_version.distributions_count} recursos"
          - else
            %h5.subtitle No tienes ningún catálogo publicado.
        - if @organization.last_catalog_is_unpublished?
          %h3.title.danger &nbsp;&nbsp;&nbsp;&nbsp;La versión publicada no es la última versión.
        - elsif @organization.current_catalog.present?
          %h3.title &nbsp;&nbsp;&nbsp;&nbsp;Muy bien. La última versión está publicada.
        .publish-form-holder.hidden
    = render "catalogs/catalogs_list"
