.container
  - if @catalog.present?
    = render 'layouts/error_messages', object: @catalog
  .card
    %h3.title Publica
    %h5.subtitle Cat&aacutelogo de datos institucional
    %ul.list
      %li.item
        .index 1
        %span Descarga la plantilla del cat&aacute;logo de datos &nbsp;&nbsp;
        = link_to 'Descargar', ENV["INVENTORY_TEMPLATE"], class: 'btn btn-primary'
      %li.item
        .index 2
        %span Llena la plantilla con informaci&oacute;n
      %li.item
        .index 3
        %span Sube el cat&aacute;logo
    .card.padding-top.bg--grey
      = form_for(@catalog) do |f|
        .form-group
          %label.block Selecciona el archivo *
          .file_input
            = f.file_field :csv_file
        .form-group
          %button.btn.btn-primary{ type: 'submit' } Subir catálogo
        %p * Campos obligatorios

    - if @datasets.present? && @upload_intent.present?
      %ul.list
        %li.item
          .index 4
          %span Valida tu catálogo
      = render "datasets_preview", :datasets => datasets_to_display(@datasets)
      - if @catalog.valid? && @catalog.csv_file.present? && @catalog.csv_structure_valid?
        = link_to "Guardar catálogo", "#", class: 'btn btn-primary', id: 'save_catalog'
    = render 'catalogs/publish_form', from_dashboard: false
