- breadcrumb :catalog, @catalog
%h3= published_catalog_id(@catalog)
%h5 Publicado el #{l(@catalog.publish_date, format: '%d %B %Y')}
.row
  .col-md-9
    %p
      A continuaci&oacute;n se muestra el comprobante con la informaci&oacute;n
      que fue publicada en el portal de datos.gob.mx.
.row
  .col-md-12
    .table-responsive
      %table.table
        %thead.catalog-header
          %tr
            %th.center #
            %th Conjuntos y recursos de datos
            %th.center Fecha de compromiso
            %th.center
              Acciones
        %tbody
          - @catalog.datasets.where.not(datasets: { issued: nil }).each_with_index do |dataset, index|
            %tr.dataset.active
              %td.center
                %strong= index + 1
              %td
                %a
                  = hidden_field_tag 'catalog[dataset_ids][]', dataset.id
                  = dataset.title
              %td.center
                = dataset.publish_date.to_date.strftime('%F')
              %td.col-md-3
                %ul.nav.nav-pills.nav-justified
                  %li{role: 'presentation'}
                    = link_to edit_dataset_path(dataset) do
                      %span.icon.icon-right
                        = inline_svg 'edit.svg'
                      Modificar
            - dataset.distributions.each do |distribution|
              - next unless distribution.issued?
              %tr.distribution
                %td
                %td.nested
                  = hidden_field_tag 'catalog[dataset_ids][]', dataset.id
                  = distribution.title
                %td.center= distribution.publish_date&.strftime('%F')
                %td
                  %ul.nav.nav-pills.nav-justified
                    %li{role: 'presentation'}
                      = link_to edit_distribution_path(distribution) do
                        %span.icon.icon-right
                          = inline_svg 'edit.svg'
                        Modificar
.row.margin-top-20
  .col-md-12
    .pull-right
      = link_to 'Volver al catálogo', catalog_datasets_path(current_organization.catalog), class: 'btn btn-alt btn-lg'
      %button.btn.btn-primary.btn-lg{ 'onClick': 'window.print();'} Imprimir
    .clearfix
