.container
  .card
    %h3.title Planea
    %h5.subtitle Inventario de datos
    %h5.subtitle Agregar Recurso
    = form_for [:inventories, @dataset, @distribution] do |f|
      .form-group.required
        = f.label :title, class: 'control-label'
        = f.text_field :title, required: true, class: 'form-control'
      .form-group.required
        = f.label :description, class: 'control-label'
        = f.text_area :description, required: true, class: 'autosize form-control'
      .form-group.required
        = f.label :media_type, class: 'control-label'
        = select_tag :media_type_select, options_for_media_type, class: 'form-control'
      .form-group
        = f.text_field :media_type, required: true, class: 'form-control'
      .form-group.required
        %label.control-label
          Campos obligatorios
      .form-group
        = f.button 'Guardar', type: 'submit', class: 'btn btn-primary'
