<% if datasets.present? %>
  <div class="col-md-12 preview-table">
    <strong><%= file_structure_feedback(datasets) %></strong>
    <table class="table table-condensed table-bordered table-striped" id="datasets_preview">
      <thead>
        <tr>
          <th>DS:Title</th>
          <th>DS:Description</th>
          <th>DS:Publisher</th>
          <th>DS:Modified</th>
          <th>RS:Title</th>
          <th>RS:Description</th>
          <th>RS:DownloadURL</th>
        </tr>
      </thead>
      <tbody>
        <% datasets.each do |dataset| %>
          <tr class='<%= preview_dataset_class(dataset) %>'>
            <td><%= dataset.title %></td>
            <td><%= dataset.description %></td>
            <td><%= dataset.publisher %></td>
            <td><%= dataset.modified %></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% dataset.distributions.each do |distribution| %>
            <tr class='<%= preview_dataset_class(dataset) %>'>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= distribution.title %></td>
              <td><%= distribution.description %></td>
              <td><%= distribution.downloadURL %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>