#inventories.section-content.table-responsive
  - if @inventories.any?
    %table.expanded-table.inventories-list
      %thead
        %th
        %th.icon
        %th Fecha
        %th Hora
        %th Conjuntos de datos
        %th Recursos
        %th.view Descargar
        %th
      %tbody
        - @inventories.each do |inventory|
          %tr
            %td
            %td
              - if inventory == @organization.current_catalog
                = image_tag "mini-inventory.png"
              - else
                = image_tag "update-log.png"
            - cache ['inventories', inventory] do
              %td= I18n.l(inventory.created_at, :format => :short)
              %td= I18n.l(inventory.created_at, :format => :hour)
              %td= inventory.datasets_count
              %td= inventory.distributions_count
              %td
                = link_to image_tag("download.png"), inventory.csv_file.url
            %td
              - if inventory == @organization.current_catalog
                %small
                  = link_to gov_link(@organization) do
                    = image_tag "catalog.png"
                    Ver en datos.gob.mx
    #inventories_links.section-links
      .col-md-4.col-md-offset-6
        = will_paginate @inventories, :class => "pagination pull-right"
  - else
    .col-md-5.col-md-offset-2
      %em Aún no existen inventarios.
