%br/
= render "layouts/flash_messages", :flash => flash
- if @inventory.present?
  = render "layouts/error_messages", :object => @inventory
%br/
.row
  .col-md-8
    .col-md-10.inventory-step
      = image_tag "checked_step.png", :class => "checked-step"
      %span.h4 Paso 1
      .step-holder.col-md-10.pull-right
        = image_tag 'csv_file.png', :class => "template-file-icon"
        = link_to (content_tag(:span, "", :class => "glyphicon glyphicon-cloud-download" ) + "Descargar plantilla en blanco"), "https://s3-ap-southeast-1.amazonaws.com/adela-staging/template/plantilla_de_inventario.csv", :class => "btn btn-default"
  .col-md-8
    .col-md-10.inventory-step
      = image_tag "checked_step.png", :class => "checked-step"
      %span.h4 Paso 2
      .step-holder.col-md-10.pull-right
        %label Llena completamente la plantilla con un set de datos cada fila.
  .col-md-8
    .col-md-10.inventory-step.inventory-last-step
      = image_tag "checked_step.png", :class => "checked-step"
      %span.h4 Paso 3
      .step-holder.col-md-10.pull-right
        = form_for(Inventory.new) do |f|
          = f.label "Sube tu CSV con el inventario de datos."
          = f.file_field :csv_file
          %br/
          %button#upload_file.btn.btn-default.disabled{:type => "submit"}
            %span.glyphicon.glyphicon-cloud-upload
            Subir inventario
  .col-md-8
    .col-md-10.inventory-preview
      = image_tag "checked_step.png", :class => "checked-step"
      %span.h4 Paso 4
      .step-holder.col-md-10.pull-right
        %label Valida tu inventario
    .step-holder.col-md-10.inventory-step
      = render "datasets_preview", :datasets => datasets_to_display(@datasets)
= render "inventories/publish_form", :from_dashboard => true
