<%= render "layouts/flash_messages", :flash => flash %>
<br/>
<%= render "layouts/org_header" %>
<div class="container">
  <div class="dashboard-wrapper">
    <div class="section-heading">
      <span class="inventory-icon h4">Cargar nuevo inventario</span>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="version-holder col-md-5">
        <span class="version-icon h5">Última versión</span>
        <div class="version-data last-version">
          <% if @organization.last_file_version.present? %>
            <%= image_tag "file.png", :class => "pull-left" %>
            <div>
              <span class="label">Fecha: </span><%= I18n.l(@organization.last_file_version.created_at, :format => :short) %>
              <br/>
              <span class="label">Actualizado por: </span><%= @organization.last_file_version.author %>
              <br/>
              <span class="label">Conjuntos de datos: </span><%= @organization.last_file_version.datasets_count %>
              <br/>
              <span class="label">Recursos: </span><%= @organization.last_file_version.distributions_count %>
            </div>
          <% else %>
            <em>No tienes ningún inventario.</em>
          <% end %>
        </div>
        <%= link_to "Subir nueva versión", new_inventory_path(:new_version => true), :class => "btn button" %>
      </div>
      <div class="version-holder col-md-5">
        <span class="catalog-icon h5">Versión publicada</span>
        <% if @organization.current_catalog.present? %>
          <div class="version-data last-catalog">
            <%= image_tag "file.png", :class => "pull-left" %>
            <div class="">
              <span class="label">Fecha: </span><%= I18n.l(@organization.current_catalog.created_at, :format => :short) %>
              <br/>
              <span class="label">Actualizado por: </span><%= @organization.current_catalog.author %>
              <br/>
              <span class="label">Conjuntos de datos: </span><%= @organization.current_catalog.datasets_count %>
              <br/>
              <span class="label">Recursos: </span><%= @organization.current_catalog.distributions_count %>
            </div>
          </div>
          <% if @organization.last_inventory_is_unpublished? %>
            <div class="alert alert-danger">
              <span class="danger"></span>La versión publicada no es la última versión.
            </div>
            <br/>
            <%= link_to "Publicar última versión", "#", :class => "btn button", :id => "save_inventory" %>
          <% else %>
            <div class="alert alert-success">
              Muy bien. La última versión está publicada.
            </div>
          <% end %>
        <% else %>
          <div class="version-data last-catalog">
            <em>No tienes ningún inventario publicado.</em>
          </div>
        <% end %>
        <div class="publish-form-holder hidden">
          <%= render "inventories/publish_form", :from_dashboard => true %>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="pull-down row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <span class="no-icon h5">Versiones pasadas</span>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="legends col-md-5 pull-right">
      <span class="published-legend"><small>Inventario publicado</small></span>
      <span class="page-legend">
        <small>
          <%= link_to gov_link(@organization) do %>
            <%= image_tag "catalog.png" %>
            Ver en datos.gob.mx
          <% end %>
        </small>
      </span>
    </div>
    <div class="pull-down">
      <%= render "inventories/inventories_list" %>
    </div>
  </div>
</div>