<%= render "layouts/flash_messages", :flash => flash %>
<% if @inventory.present? %>
  <%= render "layouts/error_messages", :object => @inventory %>
<% end %>
<div class="container">
  <div class="steps-wrapper">
    <div class="section-heading">
      <span class="inventory-icon h4">Subir nueva version de inventario</span>
    </div>
    <div class="inventory-step">
      <%= image_tag "checked_step.png", :class => "checked-step #{ step_image_class(params[:new_version] || @upload_intent)}" %>
      <span class="h4">Paso 1</span>
      <div class="step-holder col-md-10 pull-right">
        <%= image_tag 'file.png', :class => "template-file-icon" %>
        <%= link_to (content_tag(:span, "", :class => "glyphicon glyphicon-cloud-download" ) + " Descargar plantilla en blanco"), ENV["INVENTORY_TEMPLATE"], :class => "btn button" %>
      </div>
    </div>
    <div class="inventory-step">
      <%= image_tag "checked_step.png", :class => "checked-step #{ step_image_class(params[:new_version] || @upload_intent)}" %>
      <span class="h4">Paso 2</span>
      <div class="step-holder col-md-10 pull-right">
        <strong>Llena completamente la plantilla con un set de datos cada fila,</strong><br/>
        <strong>de acuerdo a como se explica en la </strong>
        <%= link_to "ficha técnica del inventario de datos", ENV["INVENTORY_DETAILS"] %>
      </div>
    </div>
    <div class="inventory-step inventory-last-step">
      <%= image_tag "checked_step.png", :class => "checked-step #{ step_image_class(@upload_intent)}" %>
      <span class="h4">Paso 3</span>
      <div class="step-holder col-md-10 pull-right">
        <%= form_for(Inventory.new) do |f| %>
          <%= f.label "Sube tu CSV con el inventario de datos." %>
          <%= f.file_field :csv_file %>
          <br/>
          <button type="submit" id="upload_file" class="btn button disabled">
            <span class="glyphicon glyphicon-cloud-upload"></span> Subir inventario
          </button>
        <% end %>
      </div>
    </div>
    <% if @datasets.present? && @upload_intent.present? %>
      <div class="inventory-preview">
        <%= image_tag "checked_step.png", :class => "checked-step hidden" %>
        <span class="h4">Paso 4</span>
        <div class="step-holder col-md-10 pull-right">
          <label>Valida tu inventario</label>
        </div>
      </div>
      <div class="step-holder">
        <%= render "datasets_preview", :datasets => datasets_to_display(@datasets) %>
        <% if @inventory.valid? && @inventory.csv_file.present? && @inventory.csv_structure_valid? %>
          <%= link_to "Guardar inventario", "#", :class => "btn button inventory-action", :id => "save_inventory" %>
        <% elsif @inventory.has_valid_datasets? %>
          <%= link_to "Ignorar incorrectas y guardar inventario", ignore_invalid_and_save_inventories_path(:csv_file => @inventory.csv_file.current_path), :class => "btn button inventory-action", :id => "ignore_and_save" %>
        <% end %>
      </div>
    <% end %>
    <%= render "inventories/publish_form", :from_dashboard => false %>
  </div>
</div>