<div class="row">
  <div class="col-md-offset-2">
    <div class="col-md-2 text-center">
      <a href="#" class="btn btn-info">1. Plan de apertura</a>
    </div>
    <hr class="col-md-1 label-info hidden-xs"></hr>
    <div class="col-md-2 text-center">
      <%= link_to "2. Carga el inventario", new_inventory_path, :class => "btn btn-info" %>
    </div>
    <hr class="col-md-1 label-info hidden-xs"></hr>
    <div class="col-md-2 text-center">
      <%= link_to "3. Publica datos abiertos", publish_inventories_path, :class => "btn btn-info"%>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <br/>
    <p></p>
    <br/>
  </div>
</div>
<div class="row">
<% if current_inventory.present? %>
  <div class="col-md-offset-2 col-md-8">
    <p>
      Los datos serán publicados en: <strong><%= "#{organization_catalog_url(current_user.organization.slug)}.json" %></strong>
    </p>
    <p>
      Marca las casillas para poder publicar:
    </p>
    <%= form_tag(publish_catalog_organization_path(current_user.organization), method: "post", id: "requirements") do %>
      <div class="checkbox">
        <label class="center-block">
          <%= check_box_tag(:personal_data, 1, false, :class => "requirement") %>
          Los conjuntos de datos no violan los lineamientos de protección de datos personales.
        </label>
      </div>
      <div class="checkbox">
        <label class="center-block">
          <%= check_box_tag(:open_data, 1, false, :class => "requirement") %>
          Los conjuntos de datos cumplen con las características de datos abiertos.
        </label>
      </div>
      <div class="checkbox">
        <label class="center-block">
          <%= check_box_tag(:office_permission, 1, false, :class => "requirement") %>
          Se validó con la oficina de enlace de transparencia, que las bases de datos se puedan publicar.
        </label>
      </div>
      <div class="checkbox">
        <label class="center-block">
          <%= check_box_tag(:data_policy_requirements, 1, false, :class => "requirement") %>
          Confirmo que lo que se publicará cumple con los lineamientos de la Política de Datos Abiertos.
        </label>
      </div> 
      <div class="col-md-offset-4 col-md-4">
        <%= submit_tag("Publicar", :class => "btn btn-info btn-block disabled", :id => "publish") %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="col-md-offset-4 col-md-4">
    <div class="well well-lg text-center center-text">
      <p>No se ha cargado un inventario.</p>
      <a href="#" id="publish" class="btn btn-info btn-md disabled" role="button">Publicar</a>
    </div>
  </div>
<% end %>
</div>