<div class="user-form-wrapper">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="user-form col-md-4">
      <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :patch }) do |f| %>
        <%= custom_devise_error_messages! %>

        <h2 class="user-form-heading">Cambiar contraseña</h2>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", :placeholder => "Nueva contraseña" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirmar nueva contraseña" %>
        <%= f.password_field :current_password, autocomplete: "off", :placeholder => "Contraseña actual" %>
        <small>Necesitamos tu contraseña actual para realizar el cambio.</small>
        <div><%= f.submit "Cambiar contraseña", :class => "btn button btn-block" %></div>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
