.container
  - breadcrumb :dataset, @dataset
  .card
    .card.bg--grey.padding-top.margin-top
      %h3 Documenta el Conjunto de Datos Abiertos
      %p Los metadatos ayudan a que los usuarios entiendan las características de la información que se está publicando. La documentación es importante porque afecta la calidad de los datos y el potencial de su uso e impacto.
      %p Aquí puedes documentar los metadatos según el estándar DCAT para:
    .row
      = form_for(@dataset, html: { class: 'form-horizontal' }, remote: true) do |f|
        .col-xs-12.col-sm-6

          .form-group.required
            .col-xs-12.col-sm-12
              = f.label :title, class: 'control-label'
            .col-xs-12.col-sm-12
              = f.text_field :title, required: true, class: 'form-control auto_submit_item'

          .form-group.required
            .col-xs-12.col-sm-12
              = f.label :description, class: 'control-label'
            .col-xs-12.col-sm-12
              = f.text_area :description, required: true, class: 'form-control auto_submit_item autosize'

          .form-group.required
            .col-xs-12.col-sm-12
              = f.label :publish_date, class: 'control-label'
            .col-xs-12.col-sm-12
              = f.text_field :publish_date, value: f.object.publish_date.strftime('%F'), class: 'datepicker auto_submit_item form-control'

          .form-group.required
            .col-xs-12.col-sm-12
              = f.label :accrual_periodicity, class: 'control-label'
            .col-xs-12.col-sm-12
              = f.select :accrual_periodicity, iso8601_repeating_interval_options_for_select(f.object.accrual_periodicity), {}, required: true, class: 'form-control auto_submit_item'

        .col-xs-12.col-sm-6
          .form-group
            .col-xs-12.col-sm-12
              = f.label :contact_position, 'Cargo del responsable *'
            .col-xs-12.col-sm-12
              = f.text_field :contact_position, class: 'form-control auto_submit_item'

          .form-group
            .col-xs-12.col-sm-12
              = f.label :mbox, 'Correo del responsable *'
            .col-xs-12.col-sm-12
              = f.email_field :mbox, class: 'form-control auto_submit_item'

          .form-group
            .col-xs-12.col-sm-12
              = f.label :landing_page, 'URL para consultar diccionario de datos *'
            .col-xs-12.col-sm-12
              = f.url_field :landing_page, class: 'form-control auto_submit_item'

          .form-group
            .col-xs-12.col-sm-12
              = f.label :dataset_sectors, 'Sector *'
            .col-xs-12.col-sm-12
              = f.fields_for :dataset_sector do |sector_form|
                = sector_form.select :sector_id, options_for_sectors_select, { include_blank: true }, { class: 'form-control auto_submit_item' }

          .form-group
            .col-xs-12.col-sm-12
              = f.label :keyword, 'Palabras clave (separadas por coma) *'
            .col-xs-12.col-sm-12
              = f.text_area :keyword, class: 'form-control auto_submit_item'

    .row
      %p.instructions
        Continúa con la documentación de los recursos de este conjunto de datos

    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th
            Nombre del recurso
            %i.fa.fa-caret-down
          %th
            Estatus de publicación
            %i.fa.fa-caret-down
          %th
            Acciones
            %i.fa.fa-caret-down
      %tbody
        - @dataset.distributions.each do |distribution|
          %tr
            %td= distribution.title
            %td.status= state_description(distribution)
            %td.action= link_to edit_link_to_text(distribution), edit_distribution_path(distribution)

    = link_to 'Volver al catálogo', catalog_datasets_path(current_organization.catalog), class: 'btn btn-default', id: 'back'
    = link_to 'Ver tour de ayuda', '#no-scroll-please', class: 'btn btn-default', id: 'get-tour'
    - if (next_dataset = next_dataset(@dataset))
      = link_to 'Documentar siguiente conjunto', edit_dataset_path(next_dataset), class: 'btn btn-default pull-right', id: 'next'

= render "tour_edit"

:javascript
  $(function() {
    $('.auto_submit_item').change(function() {
      $('form').submit();
      toastr.success("#{t('flash.notice.dataset.update')}");
    });
    $('tr:contains("Listo para publicar")').addClass('success');
    // Init
    $("#tour").joyride({
      autoStart: false
    });
    $('#get-tour').click(function() {
      // Show on click
      $("#tour").joyride({});
    });
  });
