- breadcrumb :catalog_dataset
.row
  .col-md-9
    %h3 Documentar un Conjunto de Datos
    = form_for(@dataset) do |f|
      - if @dataset.errors.any?
        = render partial: '/layouts/shared/errors', locals: { errors: @dataset.errors }
      = f.hidden_field :public_access
      .form-group.required
        = f.label :title, class: 'control-label'
        = f.text_field :title, required: true, class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.title')}"
      .form-group.required
        = f.label :description, class: 'control-label'
        = f.text_area :description, required: true, class: 'form-control autosize', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.description')}"
      .row
        .col-xs-6
          .form-group.required
            = f.label :accrual_periodicity, class: 'control-label'
            = f.select :accrual_periodicity, iso8601_repeating_interval_options_for_select(f.object.accrual_periodicity), {}, required: true, class: 'form-control ', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.accrual_periodicity')}"
        .col-xs-6
          .form-group.required
            = f.label 'Fecha de publicación', class: 'control-label'
            = f.text_field :publish_date, 'data-placement': 'right', 'data-container':'body', value: f.object.publish_date&.strftime('%F'), required: true, class: 'datepicker form-control dpDate', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.publish_date')}"
      .form-group
        = f.label :contact_name, class: 'control-label'
        = f.text_field :contact_name, class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.contact_name')}"
      .row
        .col-xs-6
          .form-group.required
            = f.label :contact_position, 'Cargo del responsable', class: 'control-label'
            = f.text_field :contact_position, class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.contact_position')}", required: true
        .col-xs-6
          .form-group.required
            = f.label :mbox, 'Correo del responsable', class: 'control-label'
            = f.email_field :mbox, class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.email_field')}", required: true
      .row
        .col-xs-6
          .form-group.required
            = f.label :temporal_init_date, 'Inicio del período de tiempo cubierto', class: 'control-label'
            = f.text_field :temporal_init_date, 'data-placement': 'right', 'data-container':'body', value: f.object.temporal_init_date&.strftime('%F'), required: true, class: 'datepicker form-control dpDate', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.temporal.init')}"
        .col-xs-6
          .form-group.required
            = f.label :temporal_term_date, 'Fin del período de tiempo cubierto', class: 'control-label'
            = f.text_field :temporal_term_date, 'data-placement': 'right', 'data-container':'body', value: f.object.temporal_term_date&.strftime('%F'), required: true, class: 'datepicker form-control dpDate', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.temporal.term')}"
      .row
        .col-xs-6
          .form-group.required
            = f.label :spatial
            = f.text_field :spatial, class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.spatial')}"
        .col-xs-6
          .form-group.required
            = f.label :dataset_sectors, 'Categoría en datos.gob.mx', class: 'control-label'
            = f.fields_for :dataset_sector do |sector_form|
              = sector_form.select :sector_id, options_for_sectors_select, { include_blank: true }, { class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.sector')}", required: true }
      .form-group.required
        = f.label :landing_page, 'URL para consultar diccionario de datos', class: 'control-label'
        = f.url_field :landing_page, class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.landing_page')}", required: true
      .form-group
        = f.label :quality, 'URL para consultar el proceso de calidad de datos', class: 'control-label'
        = f.url_field :quality, class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.quality')}"
      .form-group.required
        = f.label :keyword, 'Palabras clave (separadas por coma)', class: 'control-label'
        = f.text_area :keyword, class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.keyword')}", required: true
      .form-group
        = f.label :comments, 'Observaciones'
        = f.text_area :comments, class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.comments')}"
      .form-group
        = f.button 'Guardar', type: 'submit', class: 'btn btn-primary btn-lg'
        = link_to 'Cancelar', organization_catalogs_path(current_organization), class: 'btn btn-alt btn-lg'
  .col-md-3
    %p.margin-top
      Los metadatos ayudan a que los usuarios entiendan las características de la información que
      se está publicando. La documentación es importante porque afecta la calidad de los datos y el
      potencial de su uso e impacto.
.row
  .col-md-9
    .bs-callout.bs-callout-default
      %h3 Continúa con la documentación de los recursos de datos
      .table-responsive
        %table.table
          %thead.catalog-header
            %tr
              %th Nombre
              %th.center Estatus de publicación
              %th.center Acciones
          %tbody
            - @dataset.distributions.each do |distribution|
              %tr.distribution
                %td
                  .distribution-title= distribution.title
                  %span.label.label-default.media-type
                    = distribution.format
                %td.center= state_description(distribution)
                %td.center
                  %ul.nav.nav-pills.nav-justified
                    %li{role: 'presentation'}
                      = link_to edit_distribution_path(distribution) do
                        %span.icon.icon-right
                          = inline_svg 'edit.svg'
                        Documentar
.row
  .col-md-9.margin-top-20
    = link_to 'Volver al catálogo', catalog_datasets_path(current_organization.catalog), class: 'btn btn-alt btn-default btn-lg'
    - if (next_dataset = next_dataset(@dataset))
      = link_to edit_dataset_path(next_dataset), { class: 'btn btn-alt btn-default btn-lg pull-right' } do
        Siguiente conjunto
        %span.icon.icon-left
          = inline_svg 'next.svg'
    .clearfix
    %br

:javascript
  $(function() {
    $('tr:contains("Listo para publicar")').addClass('success');
  });
