.container
  .card
    %h3.title Cat&aacute;logo de datos
    %h5.subtitle Publica a datos.gob.mx
    .row
      .col-xs-12.col-sm-6
        %p
          Aqu&iacute; puedes revisar el avance de cada conjunto y editar sus recursos
          para finalizar el proceso.
    %table.table.table-striped
      %thead
        %tr
          %th
            Conjunto de datos
            %i.fa.fa-caret-down
          %th
            Recursos publicados
            %i.fa.fa-caret-down
          %th
            Fecha de compromiso
            %i.fa.fa-caret-down
          %th
            Acciones
      %tbody
        - @catalog.datasets.sort_by(&:publish_date).each do |dataset|
          %tr
            %td= dataset.title
            %td= "#{published_distributions_percentage(dataset)}%"
            %td= dataset.publish_date.try(:strftime, '%d-%b-%y')
            %td
              = link_to 'Editar', edit_dataset_path(dataset)

    = link_to 'Publicar', check_organization_catalogs_path(current_organization), class: can_publish?(@catalog) ? 'btn btn-primary' : 'btn btn-primary disabled'
    = link_to 'Ver último folio', catalog_path(@catalog), class: @catalog.publish_date ? 'btn btn-default' : 'btn btn-default disabled'
