- breadcrumb :catalog
%h3 Documenta tus Conjuntos y Recursos de Datos Abiertos
= form_for @catalog, url: check_organization_catalogs_path(current_organization.catalog), method: :get do |f|
  .row
    .col-md-9
      %p
        Los metadatos ayudan a que los usuarios entiendan las características de la información que se está publicando. La documentación es importante porque afecta la calidad de los datos y el potencial de su uso e impacto.
      %p
        Aquí puedes documentar los metadatos para los Conjuntos y Recursos de Datos Abiertos
  .row
    .col-md-12
      .table-responsive
        %table.table
          %thead.catalog-header
            %tr
              %th.center #
              %th
                = sortable('title', 'Conjuntos y recursos de datos')
              %th.center
                Estatus de publicación
              %th.center
                Recursos documentados
              %th.center
                = sortable('publish_date', 'Fecha de compromiso')
              %th.center
                Acciones
          %tbody
            - @datasets.each_with_index do |dataset, index|
              %tr.dataset.active
                %td.center
                  %strong= index + 1
                %td
                  %a.accordion-toggle{'data-toggle' => 'collapse', 'href' => ".dataset_#{dataset.id}_distributions"}
                    - if dataset.documented? || dataset.refined?
                      = check_box_tag('catalog[dataset_ids][]', dataset.id, true, class: 'cell-checkbox little-margin-right')
                    = dataset.title
                    %span.caret
                %td.center= state_description(dataset)
                %td.center
                  = "#{documented_distributions(dataset).count} de #{dataset.distributions.count}"
                %td.center
                  = dataset.publish_date.to_date.strftime('%F')
                %td.col-md-3
                  %ul.nav.nav-pills.nav-justified
                    %li{role: 'presentation'}
                      = link_to edit_dataset_path(dataset) do
                        %span.icon.icon-right
                          = inline_svg 'edit.svg'
                        Documentar
              - dataset.distributions.each do |distribution|
                %tr.distribution.accordion-body.collapse{'class' => "dataset_#{distribution.dataset.id}_distributions"}
                  %td
                  %td.nested
                    - if distribution.documented? || distribution.refined?
                      = check_box_tag('catalog[distribution_ids][]', distribution.id, true, class: 'cell-checkbox little-margin-right')
                    = distribution.title
                  %td.center
                    = state_description(distribution)
                  %td
                  %td.center
                    = distribution.publish_date&.strftime('%F')
                  %td
                    %ul.nav.nav-pills.nav-justified
                      %li{role: 'presentation'}
                        = link_to edit_distribution_path(distribution) do
                          %span.icon.icon-right
                            = inline_svg 'edit.svg'
                          Documentar
  .row.margin-top-20
    .col-md-12
      .pull-right
        - if @catalog.publish_date?
          = link_to 'Ver último folio', catalog_path(@catalog), class: 'btn btn-alt btn-lg'
        - else
          = link_to 'Ver último folio', catalog_path(@catalog), class: 'btn btn-alt btn-lg disabled', disabled: true
        - if can_publish?(@catalog)
          = f.button 'Publicar', type: 'submit', id: 'publish', class: 'btn btn-lg btn-primary'
        - else
          = f.button 'Publicar', type: 'submit', id: 'publish', class: 'btn btn-lg btn-primary disabled', disabled: true
      .clearfix

= render "tour_index"

:javascript
  $(function() {
    $('tr:contains("Listo para publicar")').addClass('success');
    // Every time a checkbox is checked or unchecked we will...
    $("input:checked").click(function() {
      // activate the Publish button if there are some checkboxes activated
      // or disable otherwise
      if ($("input:checked").length > 0)
        $('#publish').removeClass('disabled');
      else
        $('#publish').addClass('disabled');
    });
  });
