.container
  - breadcrumb :datasets, @catalog
  .card
    %h3.title Cat&aacute;logo de datos
    %h5.subtitle Publica a datos.gob.mx
    .row
      .col-xs-12.col-sm-6
        %p
          Aqu&iacute; puedes revisar el avance de cada conjunto y editar sus recursos
          para finalizar el proceso.
    = form_for @catalog, url: check_organization_catalogs_path(current_organization.catalog), method: :get do |f|
      %table.table.table-striped
        %thead.catalog-header
          %tr
            %th
              Conjuntos y recursos de datos
              %i.fa.fa-caret-down
            %th
              Estatus de publicación
              %i.fa.fa-caret-down
            %th
              Recursos documentados
              %i.fa.fa-caret-down
            %th
              Fecha de compromiso
              %i.fa.fa-caret-down
            %th
              Acciones
        %tbody
          - @catalog.catalog_datasets.sort_by(&:publish_date).each do |dataset|
            %tr.dataset
              %td= dataset.title
              %td
              %td= "#{documented_distributions(dataset).count} de #{dataset.distributions.count}"
              %td= l dataset.publish_date.to_date
              %td.action= link_to 'Editar', edit_dataset_path(dataset)
            - dataset.distributions.each do |distribution|
              %tr.distribution
                %td.nested
                  - if distribution.documented?
                    = check_box_tag('catalog[distribution_ids][]', distribution.id, true, class: 'cell-checkbox little-margin-right')
                  = distribution.title
                %td.status= state_description(distribution)
                %th
                %th
                %td.action= link_to edit_link_to_text(distribution), edit_distribution_path(distribution)

      = f.button 'Publicar', type: 'submit', id: 'publish', class: can_publish?(@catalog) ? 'btn btn-primary' : 'btn btn-primary disabled'
      = link_to 'Ver último folio', catalog_path(@catalog), class: @catalog.publish_date ? 'btn btn-default' : 'btn btn-default disabled'

= render "tour_index"

:javascript
  $(function() {
    $('tr:contains("Listo para publicar")').addClass('success');
    $("#tour").joyride({
      autoStart : true,
      'cookieMonster': true,
      'cookieName': 'JoyRide'
    });
    // Every time a checkbox is checked or unchecked we will...
    $("input:checked").click(function() {
      // activate the Publish button if there are some checkboxes activated
      // or disable otherwise
      if ($("input:checked").length > 0)
        $('#publish').removeClass('disabled');
      else
        $('#publish').addClass('disabled');
    });
  });
