.container
  %ol.breadcrumb.breadcrumb-admin
    %li= link_to 'Home', '#'
    %li= link_to 'Previous 1', '#'
    %li= link_to 'Previous 2', '#'
    %li= link_to 'Previous 3', '#'
    %li.active Active

  .card
    %h3.title Validar y publicar
    %h5.subtitle Aviso de ciclones tropicales, CAP
    %p
      A continuaci&oacute;n se muestra la informaci&oacute;n que ser&aacute;
      publicada en el portal de datos.gob.mx. Por favor valida su consistencia
      para poder publicar.

    .summary
      .row
        .col-xs-12.col-sm-4
          %p.dark Nombre
        .col-xs-12.col-sm-8
          %p Aviso de ciclones tropicales

      .row
        .col-xs-12.col-sm-4
          %p.dark Descripci&oacute;n
        .col-xs-12.col-sm-8
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat.

      .row
        .col-xs-12.col-sm-4
          %p.dark Identificador
        .col-xs-12.col-sm-8
          %p CDN001-aviso-de-ciclones-tropicales

      .row
        .col-xs-12.col-sm-4
          %p.dark Cargo de responsable
        .col-xs-12.col-sm-8
          %p DG de medio ambiente

      .row
        .col-xs-12.col-sm-4
          %p.dark Frecuencia de actualizaci&oacute;n
        .col-xs-12.col-sm-8
          %p dg_medioambiente@semarnat.gob.mx

      .row
        .col-xs-12.col-sm-4
          %p.dark Per&iacute;odo de tiempo que cubre
        .col-xs-12.col-sm-8
          %p Cuatrimestral

      .row
        .col-xs-12.col-sm-4
          %p.dark Fecha de &uacute;ltima modificaci&oacute;n
        .col-xs-12.col-sm-8
          %p 01-enero-2015

      .row
        .col-xs-12.col-sm-4
          %p.dark Sector
        .col-xs-12.col-sm-8
          %p Medio ambiente

      .row
        .col-xs-12.col-sm-4
          %p.dark Palabras clave
        .col-xs-12.col-sm-8
          %p ciclones, avisos

      .row
        .col-xs-12.col-sm-4
          %p.dark Direcci&oacute;n web de diccionario
        .col-xs-12.col-sm-8
          %p http://www.semarnat.gob.mx/78129/cdn-001-diccionario.csv


        -# %p.uppercase.dark Identificador
        -# %p CNN01-aviso-de-ciclones-tropicales
        -#
        -# %p.uppercase.dark Frecuencia de actualizaci&oacute;n
        -# %p Cuatrimestral
        -#
        -# %p.footnote
        -#   Para editar estos campo, vuelve a subir el inventario de datos con tu
        -#   modificaci&oacute;n o edita el plan de apertura.

    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th
            %input#cell-checkbox-master.little-margin-right{ type: 'checkbox' }
            Nombre del recurso
            %i.fa.fa-caret-down
          %th
            Estatus de publicación
            %i.fa.fa-caret-down
          %th
            Acciones
            %i.fa.fa-caret-down
      %tbody
        %tr
          %td
            %input.cell-checkbox.little-margin-right{ type: 'checkbox' }
            Aviso de ciclones tropicales
          %td Falta informaci&oacute;n
          %td= link_to 'Completar', '#'
        %tr
          %td
            %input.cell-checkbox.little-margin-right{ type: 'checkbox' }
            Imágenes satelitales
          %td Listo para publicar
          %td= link_to 'Actualizar', '#'
        %tr
          %td
            %input.cell-checkbox.little-margin-right{ type: 'checkbox' }
            Precipitación anual
          %td Listo para publicar
          %td= link_to 'Actualizar', '#'
        %tr
          %td
            %input.cell-checkbox.little-margin-right{ type: 'checkbox' }
            Niveles actuales de ríos
          %td Publicado
          %td= link_to 'Actualizar', '#'

    %button.btn.btn-primary Publicar
    %button.btn.btn-default Volver al cat&aacute;logo
