.container
  %ol.breadcrumb.breadcrumb-admin
    %li= link_to 'Home', '#'
    %li= link_to 'Previous 1', '#'
    %li= link_to 'Previous 2', '#'
    %li= link_to 'Previous 3', '#'
    %li.active Active

  .card
    %h3.title Validar y publicar
    %h5.subtitle Aviso de ciclones tropicales, CAP
    %p
      A continuaci&oacute;n se muestra la informaci&oacute;n que ser&aacute;
      publicada en el portal de datos.gob.mx. Por favor valida su consistencia
      para poder publicar.

    .section
      .row
        .col-xs-12.col-sm-4
          %p.dark Nombre
        .col-xs-12.col-sm-8
          %p Aviso de ciclones tropicales

      .row
        .col-xs-12.col-sm-4
          %p.dark Descripci&oacute;n
        .col-xs-12.col-sm-8
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat.

      .row
        .col-xs-12.col-sm-4
          %p.dark Identificador
        .col-xs-12.col-sm-8
          %p CDN001-aviso-de-ciclones-tropicales

      .row
        .col-xs-12.col-sm-4
          %p.dark Cargo de responsable
        .col-xs-12.col-sm-8
          %p DG de medio ambiente

      .row
        .col-xs-12.col-sm-4
          %p.dark Frecuencia de actualizaci&oacute;n
        .col-xs-12.col-sm-8
          %p dg_medioambiente@semarnat.gob.mx

      .row
        .col-xs-12.col-sm-4
          %p.dark Per&iacute;odo de tiempo que cubre
        .col-xs-12.col-sm-8
          %p Cuatrimestral

      .row
        .col-xs-12.col-sm-4
          %p.dark Fecha de &uacute;ltima modificaci&oacute;n
        .col-xs-12.col-sm-8
          %p 01-enero-2015

      .row
        .col-xs-12.col-sm-4
          %p.dark Sector
        .col-xs-12.col-sm-8
          %p Medio ambiente

      .row
        .col-xs-12.col-sm-4
          %p.dark Palabras clave
        .col-xs-12.col-sm-8
          %p ciclones, avisos

      .row
        .col-xs-12.col-sm-4
          %p.dark Direcci&oacute;n web de diccionario
        .col-xs-12.col-sm-8
          %p http://www.semarnat.gob.mx/78129/cdn-001-diccionario.csv

    .row
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th
              %input#cell-checkbox-master.little-margin-right{ type: 'checkbox' }
              Nombre del recurso
              %i.fa.fa-caret-down
            %th
              Fecha de &uacute;ltima modificaci&oacute;n
              %i.fa.fa-caret-down
            %th
              Per&iacute;odo de tiempo cubierto
              %i.fa.fa-caret-down
            %th
              URL de descarga
              %i.fa.fa-caret-down
        %tbody
          %tr
            %td
              %input.cell-checkbox.little-margin-right{ type: 'checkbox' }
              Aviso de ciclones tropicales en formato CAP
            %td 01-febrero-2015
            %td 01-enero-2015 a 31-enero-2015
            %td= link_to truncate('http://www.semarnat.gob.mx/78129/cap-001.csv', length: 30), '#'
          %tr
            %td
              %input.cell-checkbox.little-margin-right{ type: 'checkbox' }
              Aviso de ciclones tropicales en formato ITU-T
            %td 01-febrero-2015
            %td 01-enero-2015 a 31-enero-2015
            %td= link_to truncate('http://www.semarnat.gob.mx/78129/iut-t-001.csv', length: 30), '#'

    .section
      %p.dark
        %input#agreement-publish{ type: 'checkbox', 'onClick'=>'termsConfirmed()' }
        Estoy de acuerdo que en que esta informaci&oacute;n se publique en
        datos.gob.mx
      %p.dark
        %input#agreement-validated{ type: 'checkbox', 'onClick'=>'termsConfirmed()' }
        Confirmo que la informaci&oacute;n est&aacute; validada por
        la instituci&oacute;n

    %button#publish.btn.btn-primary.disabled Publicar
    %button.btn.btn-default Volver al cat&aacute;logo
