.container
  %ol.breadcrumb.breadcrumb-admin
    %li= link_to 'Home', '#'
    %li= link_to 'Previous 1', '#'
    %li= link_to 'Previous 2', '#'
    %li= link_to 'Previous 3', '#'
    %li.active Active

  .card
    %h3.title Cat&aacute;logo de datos
    %h5.subtitle Publica a datos.gob.mx
    .row
      .col-xs-12.col-sm-6
        %p
          Aqu&iacute; puedes revisar el avance de cada conjunto y editar sus recursos
          para finalizar el proceso.
      .col-xs-12.col-sm-4.col-sm-offset-2
        .input-group
          %input.input-icon{ type: "text", placeholder: "Buscar" }
          %span.input-group-addon
            %i.fa.fa-search
    %table.table.table-striped
      %thead
        %tr
          %th
            Conjunto de datos
            %i.fa.fa-caret-down
          %th
            Recursos publicados
            %i.fa.fa-caret-down
          %th
            Fecha de compromiso
            %i.fa.fa-caret-down
          %th
            Acciones
      %tbody
        %tr
          %td Aviso de ciclones tropicales
          %td 0%
          %td 30-oct-2015
          %td= link_to 'Editar', '#'
        %tr
          %td Imágenes satelitales
          %td 50%
          %td 30-oct-2015
          %td= link_to 'Editar', '#'
        %tr
          %td Precipitación anual
          %td 100%
          %td 15-nov-2015
          %td= link_to 'Editar', '#'
        %tr
          %td Niveles actuales de ríos
          %td 100%
          %td 15-nov-2015
          %td= link_to 'Editar', '#'
        %tr
          %td Temperatura actual por es...
          %td 100%
          %td 15-nov-2015
          %td= link_to 'Editar', '#'
    .row
      .col-xs-12.col-sm-4.navigation-back
        %p= link_to "< Atrás", '#'
      .col-xs-12.col-sm-4.navigation-center
        %p Mostrando 1 a 5 de 18 Resultados
      .col-xs-12.col-sm-4.navigation-right
        %p= link_to "Siguiente >", '#'
