.container
  %ol.breadcrumb.breadcrumb-admin
    %li= link_to 'Home', '#'
    %li= link_to 'Previous 1', '#'
    %li= link_to 'Previous 2', '#'
    %li= link_to 'Previous 3', '#'
    %li.active Active
    
  .card
    %h3.title Aviso de Cicl&oacute;n tropical
    %h5.subtitle Fecha de compromiso - 30 de Octubre de 2015
    %p
      Aqu&iacute; puedes capturar informaci&oacute;n faltante del
      conjunto y publicar tus recursos en el portal de datos.gob.mx
    .row
      .col-xs-12.col-sm-6
        %p.uppercase.dark Descripci&oacute;n
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat.

        %p.uppercase.dark Identificador
        %p CNN01-aviso-de-ciclones-tropicales

        %p.uppercase.dark Frecuencia de actualizaci&oacute;n
        %p Cuatrimestral

        %p.footnote
          Para editar estos campo, vuelve a subir el inventario de datos con tu
          modificaci&oacute;n o edita el plan de apertura.

      .col-xs-12.col-sm-6
        %form.form-horizontal
          .form-group
            .col-xs-12.col-sm-12
              %label Cargo del responsable *
            .col-xs-12.col-sm-12
              %input.form-control{ type: "text" }

          .form-group
            .col-xs-12.col-sm-12
              %label Correo del responsable *
            .col-xs-12.col-sm-12
              %input.form-control{ type: "email" }

          .form-group
            .col-xs-12.col-sm-12
              %label URL para consultar diccionario de datos *
            .col-xs-12.col-sm-12
              %input.form-control{ type: "text" }

          .form-group
            .col-xs-12.col-sm-12
              %label Sector *
            .col-xs-12.col-sm-12
              %input.form-control{ type: "text" }

          .form-group
            .col-xs-12.col-sm-12
              %label Palabras clave (separados por comas) *
            .col-xs-12.col-sm-12
              %textarea.form-control

    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th
            %input#cell-checkbox-master.little-margin-right{ type: 'checkbox' }
            Nombre del recurso
            %i.fa.fa-caret-down
          %th
            Estatus de publicación
            %i.fa.fa-caret-down
          %th
            Acciones
            %i.fa.fa-caret-down
      %tbody
        %tr
          %td
            %input.cell-checkbox.little-margin-right{ type: 'checkbox' }
            Aviso de ciclones tropicales
          %td Falta informaci&oacute;n
          %td= link_to 'Completar', '#'
        %tr
          %td
            %input.cell-checkbox.little-margin-right{ type: 'checkbox' }
            Imágenes satelitales
          %td Listo para publicar
          %td= link_to 'Actualizar', '#'
        %tr
          %td
            %input.cell-checkbox.little-margin-right{ type: 'checkbox' }
            Precipitación anual
          %td Listo para publicar
          %td= link_to 'Actualizar', '#'
        %tr
          %td
            %input.cell-checkbox.little-margin-right{ type: 'checkbox' }
            Niveles actuales de ríos
          %td Publicado
          %td= link_to 'Actualizar', '#'

    %button.btn.btn-primary Publicar
    %button.btn.btn-default Volver al cat&aacute;logo
