.container
  %ol.breadcrumb.breadcrumb-admin
    %li= link_to 'Home', '#'
    %li= link_to 'Previous 1', '#'
    %li= link_to 'Previous 2', '#'
    %li= link_to 'Previous 3', '#'
    %li.active Active
    
  .card
    %h3.title Publica
    %h5.subtitle C&aacute;talogo de datos institucional
    %p
      Antes de poder publicar el Cat&aacute;logo de Datos es
      necesario haber concluido los siguientes pasos:
    %ul.list
      %li.item
        .index 1
        %span
          = link_to 'Subir el Inventario de Datos', '#'
      %li.item
        .index 2
        %span
          = link_to 'Generar Plan de Apertura', '#'
