<div class="row">
  <a href="<%= topics_path %>">
    <div class="col-md-6 disabled-tab">
      <div class="first-step">
        <h3>
          Plan de apertura<br/>
          <small>No tienes un plan de datos todavía.</small>
        </h3>
      </div>
    </div>
  </a>
  <a href='<%= new_inventory_path %>'>
    <div class="col-md-6 disabled-tab step-tab">
      <div class="second-step">
        <h3>
          Inventario de datos
          <br/>
          <% if current_organization.last_file_version.present? %>
            <small>Última actualización: <strong><%= I18n.l(current_organization.last_file_version.created_at, :format => :short) %></strong></small>
            <% if current_organization.current_catalog.present? %>
              <br/>
              <small>Última publicación: <strong><%= I18n.l(current_organization.current_catalog.publish_date, :format => :short) %></strong></small>
            <% end %>
          <% else %>
            <small>No tienes un inventario de datos cargado todavía.</small>
          <% end %>
        </h3>
      </div>
    </div>
  </a>
</div>
<br/>
<%= render "layouts/flash_messages", :flash => flash %>
<br/>

<div class="row">
  <div class="col-md-8">
    <h3>
      Áreas o temas para publicar. (Ordenados por prioridad)<br/>
      <small>Todavía no tienes áreas o temas agregados.</small>
    </h3>

    <div id="topics-listing"></div>
    <div id="new-topic-container"></div>

    <button type="button" id="new-topic-button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      Agregar nueva área o tema
    </button>
  </div>

  <div class="col-md-4 bg-info">
    <h4>¿Qué es un plan de apertura?</h4>
    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
    consectetur adipisci velit</p>

    <div class="clearfix">
      <p class="pull-right">
        <a href="#"><span class="glyphicon glyphicon-minus"></span> reducir</a>
      </p>
    </div>

    <h4>¿Para qué sirve un plan de apertura?</h4>
    <p>Sed ut perspiciatis, unde omnis iste natus error sit
    voluptatem accusantium doloremque laudantium, totam rem aperiam
    eaque ipsa, quae ab illo inventore veritatis et quasi architecto
    beatae vitae dicta sunt, explicabo.</p>

    <div class="clearfix">
      <p class="pull-right">
        <a href="#"><span class="glyphicon glyphicon-minus"></span> reducir</a>
      </p>
    </div>

    <p><a href="#">Más ayuda sobre el plan de apertura</a></p>
  </div>
</div>


<br><br><br><br>

<script>
  $(function () {
    new TopicForm({
      new_button: "#new-topic-button",
      form_container: "#new-topic-container",
      topics_listing: "#topics-listing"
    });

    var topic_loader = new TopicLoader();
    topic_loader.load_in("#topics-listing");
  });
</script>
