.container
  = custom_devise_error_messages!
  .card
    %h3.title Cambiar contraseña
    %h5.subtitle
      %span Ingresa tu correo electrónico para recuperar tu contraseña
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, 'Nueva contraseña'
        = f.password_field :password, autofocus: true, class: 'form-control'
      .form-group
        = f.label :password_confirmation, 'Confirma la nueva contraseña'
        = f.password_field :password_confirmation, class: 'form-control'
      .form-group
        = f.submit 'Cambiar mi contraseña', class: 'btn btn-primary'
    = render 'devise/shared/links'
