= render "layouts/flash_messages", :flash => flash
#intro
  .overlay
  .row.content
    .col-xs-12.subtitle
      %h3.bright
        Con la Administradora de la Apertura, planea, publica, perfecciona
        y promueve datos abiertos.

  .container
    .row.actions
      .col-xs-12.col-md-6
        %p.topic Actividad Reciente
        %hr
        - if @logs.any?
          %ul.recent_activity
            - @logs.first_block.each_with_index do |activity, index|
              -# Show with different colors, to be moved to a helper
              - if index.even?
                %li.even "#{activity.organization.title} #{activity.description}"
              - else
                %li.odd "#{activity.organization.title} #{activity.description}"
        - else
          %p.bright No hay actividad reciente.

      .col-xs-12.col-md-6
        %p.topic Ingresar
        %hr
        = render 'shared/forms/user', resource: User.new, resource_name: :user
