%tr.distribution.accordion-body.collapse{'class' => "dataset_#{distribution.dataset_id}_distributions"}
  %td
  %td.nested
    .distribution-title= distribution.title
    %span.label.label-default.media-type
      = distribution.format
  %td
  %td
  %td.center
    = distribution.publish_date&.strftime('%F')
  %td.center
    = render partial: 'inventories/shared/menus/distribution_actions', locals: { distribution: distribution }
