- breadcrumb :inventory_edit_dataset
= form_for [:inventories, @dataset] do |f|
  .row
    .col-md-9
      %h3 Editar un Conjunto de Datos
      - if @dataset.errors.any?
        = render partial: '/layouts/shared/errors', locals: { errors: @dataset.errors }
  .row
    .col-md-9
      .form-group.required
        = f.label :title, class: 'control-label'
        = f.text_field :title, required: true, class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.title')}"
      .form-group.required
        = f.label :description, class: 'control-label'
        = f.text_area :description, required: true, class: 'autosize form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.description')}"
      .form-group.required
        = f.label :contact_position, class: 'control-label'
        = f.text_field :contact_position, required: true, class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.contact_position')}"
      .row
        .col-xs-4
          .form-group.required
            = f.label :public_access, class: 'control-label'
            = f.select :public_access, [['Público', true], ['Privado', false]], {}, required: true, class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.public_access')}"
        .col-xs-4
          .form-group.required
            = f.label :accrual_periodicity, class: 'control-label'
            = f.select :accrual_periodicity, iso8601_repeating_interval_options_for_select(f.object.accrual_periodicity), {}, required: true, class: 'form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.accrual_periodicity')}"
        - unless @dataset.issued?
          .col-xs-4
            .form-group.required
              = f.label :publish_date, class: 'control-label'
              = f.text_field :publish_date, value: f.object.publish_date&.strftime('%F'), class: 'datepicker form-control', 'data-toggle': 'tooltip', title: "#{t('tooltip.dataset.publish_date')}"
      = f.button 'Guardar', type: 'submit', class: 'btn btn-primary btn-lg'
      = link_to 'Cancelar', inventories_datasets_path, class: 'btn btn-lg btn-alt'
    .col-md-3
      %p
        Un <strong>Conjunto de datos</strong> es un grupo de Recursos de Datos Abiertos que tienen un tema en común.
      %p
        Por ejemplo: El Conjunto de Calidad del Aire agrupa los Recursos de concentraciones de calidad del aire de los 32 estados en un periodo determinado de tiempo.
