- breadcrumb :inventory
%h3 Plan de Apertura Institucional
.row
  .col-md-9
    %p
      El Plan de Apertura Institucional es un listado de todos los Conjuntos y Recursos de Datos Abiertos con las fechas comprometidas de publicación y actualización para cada uno de ellos.
    %p
      Da click en el botón de <strong>agregar un conjunto</strong> para comenzar a crear tu Plan de Apertura Institucional.
  .col-md-3
    %p
      = link_to new_inventories_dataset_path, { class: 'btn btn-primary btn-lg pull-right' } do
        %span.icon.glyphicon.glyphicon-plus{'aria-hidden': 'true'}
        Agregar un conjunto nuevo
    .clearfix

- if current_organization.catalog && current_organization.catalog.datasets.present?
  .table-responsive
    %table.table{ 'style' => 'border-collapse:collapse;' }
      %thead
        %tr
          %th.center #
          %th= sortable('title', 'Nombre del conjunto y sus recursos')
          %th.center Recursos del conjunto
          %th.center Acceso
          %th.center= sortable('publish_date', 'Fecha estimada de publicación')
          %th.center Acciones
      %tbody
        - @datasets.each_with_index do |dataset, index|
          %tr.active.dataset
            %td.center
              %strong= index + 1
            %td
              %a.accordion-toggle{'data-toggle' => 'collapse', 'href' => ".dataset_#{dataset.id}_distributions"}
                = dataset.title
                %span.caret
            %td.center= pluralize(dataset.distributions.count, 'recurso')
            %td.center= dataset.public_access? ? 'Público' : 'Privado'
            %td.center= dataset.publish_date.strftime('%F') if dataset.publish_date
            %td.col-md-3
              %ul.nav.nav-pills.nav-justified
                %li{role: 'presentation'}
                  = link_to edit_inventories_dataset_path(dataset) do
                    %span.icon.icon-right
                      = inline_svg 'edit.svg'
                    Editar
                - if dataset.distributions.pluck(:issued).any?
                  %li.disabled{role: 'presentation', 'data-toggle': 'tooltip', title: t('tooltip.dataset.actions.destroy') }
                    = link_to '#' do
                      %span.icon.icon-right
                        = inline_svg 'destroy.svg'
                      Eliminar
                - else
                  %li{role: 'presentation'}
                    = link_to confirm_destroy_inventories_dataset_path(dataset) do
                      %span.icon.icon-right
                        = inline_svg 'destroy.svg'
                      Eliminar
          - dataset.distributions.each do |distribution|
            %tr.distribution.accordion-body.collapse{'class' => "dataset_#{dataset.id}_distributions"}
              %td
              %td.nested
                .distribution-title= distribution.title
                %span.label.label-default.media-type
                  = distribution.format
              %td
              %td
              %td.center
                = distribution.publish_date&.strftime('%F')
              %td.center
                %ul.nav.nav-pills.nav-justified
                  %li{role: 'presentation'}
                    = link_to edit_inventories_dataset_distribution_path(dataset, distribution) do
                      %span.icon.icon-right
                        = inline_svg 'edit.svg'
                      Editar
                  - if distribution.issued?
                    %li.disabled{role: 'presentation', 'data-toggle': 'tooltip', title: t('tooltip.distribution.actions.destroy')}
                      = link_to '#' do
                        %span.icon.icon-right
                          = inline_svg 'destroy.svg'
                        Eliminar
                  - else
                    %li{role: 'presentation'}
                      = link_to confirm_destroy_inventories_dataset_distribution_path(dataset, distribution) do
                        %span.icon.icon-right
                          = inline_svg 'destroy.svg'
                        Eliminar
          %tr.accordion-body.collapse{'class' => "dataset_#{dataset.id}_distributions"}
            %td
            %td
            %td
            %td
            %td
            %td.add-distribution
              = link_to new_inventories_dataset_distribution_path(dataset), { class: 'btn btn-primary btn-block' } do
                %span.icon.glyphicon.glyphicon-plus{'aria-hidden': 'true'}
                Agregar un recurso nuevo
  .row.margin-top-20
    .col-md-12
      = link_to organization_inventory_path(current_organization, format: :csv), { class: 'btn btn-primary btn-default btn-lg' } do
        %span.icon.icon-right
          = inline_svg 'download.svg'
        Descargar el plan de apertura actual
        = link_to new_inventories_dataset_path, { class: 'btn btn-primary btn-lg pull-right' } do
          %span.icon.glyphicon.glyphicon-plus{'aria-hidden': 'true'}
          Agregar un conjunto nuevo
        .clearfix

.row
  .col-md-12
    %hr
      = link_to organization_catalogs_path(current_organization), { class: 'btn btn-alt btn-default btn-lg pull-right' } do
        Catálogo de Datos
        %span.icon.icon-left
          = inline_svg 'next.svg'
    .clearfix
