- breadcrumb :inventory
%h3 Plan de Apertura Institucional
.row
  .col-md-9
    %p
      El Plan de Apertura Institucional es un listado de todos los Conjuntos y Recursos de Datos Abiertos con las fechas comprometidas de publicaci칩n y actualizaci칩n para cada uno de ellos.
    %p
      Da click en el bot칩n de <strong>agregar un conjunto</strong> para comenzar a crear tu Plan de Apertura Institucional.
  .col-md-3
    %p
      = link_to new_inventories_dataset_path, { class: 'btn btn-primary btn-lg pull-right' } do
        %span.icon.glyphicon.glyphicon-plus{'aria-hidden': 'true'}
        Agregar un conjunto nuevo
    .clearfix

- if current_organization.catalog && current_organization.catalog.datasets.present?
  = render partial: 'inventories/shared/list'
  .row.margin-top-20
    .col-md-12
      = link_to organization_inventory_path(current_organization, format: :csv), { class: 'btn btn-primary btn-default btn-lg' } do
        %span.icon.icon-right
          = inline_svg 'download.svg'
        Descargar el plan de apertura actual
        = link_to new_inventories_dataset_path, { class: 'btn btn-primary btn-lg pull-right' } do
          %span.icon.glyphicon.glyphicon-plus{'aria-hidden': 'true'}
          Agregar un conjunto nuevo
        .clearfix

.row
  .col-md-12
    %hr
      = link_to organization_catalogs_path(current_organization), { class: 'btn btn-alt btn-default btn-lg pull-right' } do
        Cat치logo de Datos
        %span.icon.icon-left
          = inline_svg 'next.svg'
    .clearfix
