.container
  .card
    %h3.title Planea
    %h5.subtitle Inventario de datos
    %h5.subtitle Conjunto de Datos
    = nested_form_for [:inventories, Dataset.new] do |f|
      .form-group.required
        = f.label :title, class: 'control-label'
        = f.text_field :title, required: true, class: 'form-control'
      .form-group.required
        = f.label :contact_position, class: 'control-label'
        = f.text_field :contact_position, required: true, class: 'form-control'
      .form-group.required
        = f.label :public_access, class: 'control-label'
        = f.select :public_access, [['Público', true], ['Privado', false]], {}, required: true, class: 'form-control'
      .form-group.required
        = f.label :publish_date, class: 'control-label'
        = f.text_field :publish_date, class: 'datepicker form-control'
      = f.fields_for :distributions do |distribution_form|
        %h5.subtitle Recurso
        .form-group.required
          = distribution_form.label :title, class: 'control-label'
          = distribution_form.text_field :title, required: true, class: 'form-control'
        .form-group.required
          = distribution_form.label :description, class: 'control-label'
          = distribution_form.text_area :description, required: true, class: 'autosize form-control'
        .form-group.required
          = distribution_form.label :media_type, class: 'control-label'
          = select_tag :media_type_select, options_for_media_type, class: 'form-control media_type_select'
        .form-group
          = distribution_form.text_field :media_type, required: true, class: 'form-control media_type'
        .form-group.required
          %label.control-label
            Campos obligatorios
        .form-group.pull-right
          = distribution_form.link_to_remove 'Eliminar Recurso', class: 'btn btn-primary'
          = f.button 'Guardar', type: 'submit', class: 'btn btn-primary'
      .form-group.required
        %label.control-label
          Campos obligatorios
      .form-group
        = f.link_to_add "Agregar Recurso", :distributions, class: 'btn btn-primary'
