.container
  .card
    %h3.title Planea
    %h5.subtitle Inventario de datos
    %h5.subtitle Conjunto de Datos
    = nested_form_for [:inventories, Dataset.new] do |f|
      .form-group
        = f.label :title
        = f.text_field :title, required: true, class: 'form-control'
      .form-group
        = f.label :contact_position
        = f.text_field :contact_position, required: true, class: 'form-control'
      .form-group
        = f.label :public_access
        = f.select :public_access, [['Público', true], ['Privado', false]], {}, required: true, class: 'form-control'
      .form-group
        = f.label :publish_date
        = f.text_field :publish_date, class: 'datepicker form-control'
      = f.fields_for :distributions do |distribution_form|
        %h5.subtitle Recurso
        .form-group
          = distribution_form.label :title
          = distribution_form.text_field :title, required: true, class: 'form-control'
        .form-group
          = distribution_form.label :description
          = distribution_form.text_area :description, required: true, class: 'autosize form-control'
        .form-group
          = distribution_form.label :media_type
          = distribution_form.text_field :media_type, required: true, class: 'form-control'
        .form-group.pull-right
          = distribution_form.link_to_remove 'Eliminar Recurso', class: 'btn btn-primary'
          = f.button 'Guardar', type: 'submit', class: 'btn btn-primary'
      .form-group
        = f.link_to_add "Agregar Recurso", :distributions, class: 'btn btn-primary'
