%ul.nav.nav-pills.nav-justified
  %li{role: 'presentation'}
    = link_to edit_inventories_dataset_path(dataset) do
      %span.icon.icon-right
        = inline_svg 'edit.svg'
      Editar
  - if dataset.distributions.map(&:issued?).any?
    %li.disabled{role: 'presentation', 'data-toggle': 'tooltip', title: t('tooltip.dataset.actions.destroy') }
      = link_to '#' do
        %span.icon.icon-right
          = inline_svg 'destroy.svg'
        Eliminar
  - else
    %li{role: 'presentation'}
      = link_to confirm_destroy_inventories_dataset_path(dataset) do
        %span.icon.icon-right
          = inline_svg 'destroy.svg'
        Eliminar
