= nested_form_for([:admin, @organization], html: { id: 'edit_organization' }) do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :landing_page
    = f.url_field :landing_page, class: 'form-control'
  .form-group
    = f.label :gov_type
    = f.select :gov_type, options_for_gov_types_select(@organization), { include_blank: true }, { class: 'form-control' }
  - unless @organization.new_record?
    .form-group
      = f.label :administrator
      = f.fields_for :administrator, @organization.administrator do |admin_form|
        = admin_form.select :user_id, options_for_organization_admin(@organization), { include_blank: true }, { class: 'form-control' }
    .form-group
      = f.label :liaison
      = f.fields_for :liaison, @organization.liaison do |liaison_form|
        = liaison_form.select :user_id, options_for_organization_liaison(@organization), { include_blank: true }, { class: 'form-control' }
  .form-group
    = f.label :sectors
    = f.fields_for :organization_sectors do |sector_form|
      .form-group
        = sector_form.select :sector_id, options_for_sectors_select, {}, { class: 'form-control' }
        = sector_form.link_to_remove 'Eliminar sector'
  .form-group
    .checkbox
      %label
        = f.check_box :ranked
        ¿Esta organización sera calificada?
  .form-group
    = f.link_to_add 'Agregar un sector', :organization_sectors
  .form-group
    = link_to 'Cancelar', admin_organizations_path, class: 'btn btn-primary'
    = f.button 'Guardar', type: 'submit', class: 'btn btn-primary'
