= nested_form_for([:admin, @organization]) do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :logo_url
    = f.text_field :logo_url, class: 'form-control'
  .form-group
    = f.label :gov_type
    = f.select :gov_type, options_for_gov_types_select(@organization), { include_blank: true }, { class: 'form-control' }
  .form-group
    = f.label :sectors
    = f.fields_for :organization_sectors do |sector_form|
      .form-group
        = sector_form.select :sector_id, options_for_sectors_select, {}, { class: 'form-control' }
        = sector_form.link_to_remove 'Eliminar sector'
  .form-group
    = f.link_to_add 'Agregar un sector', :organization_sectors
  .form-group
    = link_to 'Cancelar', admin_organizations_path, class: 'btn btn-primary'
    = f.button 'Guardar', type: 'submit', class: 'btn btn-primary'
