- breadcrumb :documents
.row
  .col-md-9
    %h3 Publica tus documentos
    = form_for current_organization, url: update_organization_documents_path, method: :put do |f|
      = f.fields_for :designation_files, current_organization.designation_files.build do |designation_file_form|
        .form-group.required
          %label.strong Selecciona el archivo del Oficio de Designación
          = designation_file_form.file_field :file
      = f.fields_for :memo_files, current_organization.memo_files.build  do |memo_file_form|
        .form-group.required
          %label.strong Selecciona el archivo de la Minuta de Autorizaci&oacute;n del Grupo de Trabajo
          = memo_file_form.file_field :file
      .form-group
        %button.btn.btn-primary{ type: 'submit' } Subir documentos
  .col-md-3
    %p.margin-top
      Carga el oficio de designación del Enlace y Administrador de Datos Abiertos de tu institución y la minuta del Consejo Intitucional de Datos Abiertos.
.row
  .col-md-9
    %h5 Oficios de designación del Enlace y Administrador de Datos Abiertos
    .table-responsive
      %table.table
        %thead.catalog-header
          %tr
            %th Nombre
            %th Fecha
            %th Tamaño
            %th
        %tbody
          - current_organization.designation_files.select(&:persisted?).each do |designation_file|
            %tr.active
              %td
                = link_to File.basename(designation_file.file.path), designation_file.file.url, class: 'semibold green'
              %td
                = designation_file.created_at.strftime('%F')
              %td
                = number_to_human_size(designation_file.file.size)
              %td.col-md-3
                %ul.nav.nav-pills.nav-justified
                  %li{role: 'presentation'}
                    = link_to designation_file.file.url do
                      %span.icon.icon-right
                        = inline_svg 'download-green.svg'
                      Descargar
.row
  .col-md-9
    %h5 Minutas del Consejo Intitucional de Datos Abiertos
    .table-responsive
      %table.table
        %thead.catalog-header
          %tr
            %th Nombre
            %th Fecha
            %th Tamaño
            %th
        %tbody
          - current_organization.memo_files.select(&:persisted?).each do |memo_file|
            %tr.active
              %td
                = link_to File.basename(memo_file.file.path), memo_file.file.url, class: 'semibold green'
              %td
                = memo_file.created_at.strftime('%F')
              %td
                = number_to_human_size(memo_file.file.size)
              %td.col-md-3
                %ul.nav.nav-pills.nav-justified
                  %li{role: 'presentation'}
                    = link_to memo_file.file.url do
                      %span.icon.icon-right
                        = inline_svg 'download-green.svg'
                      Descargar
.row.margin-top-20
  .col-md-12
    %hr
    = link_to inventories_datasets_path, { class: 'btn btn-alt btn-default btn-lg pull-right' } do
      Ir al Plan de Apertura
      %span.icon.icon-left
        = inline_svg 'next.svg'
    .clearfix
