<div class="user-form-wrapper">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="user-form col-md-4">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => ""}) do |f| %>
        <h2 class="user-form-heading">ADELA</h2>
        <%= f.email_field :email, :autofocus => true, :placeholder => "Correo electrónico" %>
        <%= f.password_field :password, :placeholder => "Contraseña" %>
        <div><%= f.submit "ENTRAR", :class => "btn button btn-block" %></div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
