.container
  %ol.breadcrumb
    %li= link_to 'Admin', admin_root_path
    %li= link_to 'Organizaciones', admin_organizations_path
    %li.active= link_to 'Editar', edit_admin_organization_path(@organization)
  .card
    %h3.title= "Editar #{@organization.title}"
    = render 'admin/organizations/shared/form'
