.container
  %h2 Usuarios registrados
  %table.table.table-condensed.table-bordered.table-striped
    %thead
      %tr
        %th Nombre
        %th Email
        %th Creado el
        %th Actualizado
        %th Último sign in
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= I18n.l(user.created_at, :format => :short)
          %td= I18n.l(user.updated_at, :format => :short)
          %td
            - if user.last_sign_in_at.present?
              = time_ago_in_words(user.last_sign_in_at)
            - else
              %em No ha ingresado
  = will_paginate @users
