<div class="container">
  <h2>Usuarios registrados</h2>
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Creado el</th>
        <th>Actualizado</th>
        <th>Último sign in</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= I18n.l(user.created_at, :format => :short) %></td>
          <td><%= I18n.l(user.updated_at, :format => :short) %></td>
          <td>
            <% if user.last_sign_in_at.present? %>
              <%= time_ago_in_words(user.last_sign_in_at) %>
            <% else %>
              <em>No ha ingresado</em>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @users %>
</div>