= form_for([:admin, @user]) do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :organization
    = f.select :organization_id, options_for_organizations_select, { include_blank: true }, { class: 'form-control' }
  .form-group
    = link_to 'Cambiar Contraseña', edit_password_admin_user_path(@user), class: 'btn btn-primary' unless @user.new_record?
    = link_to 'Cancelar', admin_users_path, class: 'btn btn-primary'
    = f.button 'Guardar', type: 'submit', class: 'btn btn-primary'
