#calendar.section-content{"data-pjax-container" => ""}
  .row
    #calendar-header.col-md-8.col-md-offset-2
      %h2.calendar-heading.col-md-4= I18n.l(Date.parse(@current_month), :format => :month)
      %ul.calendar-nav-bar.list-inline.col-md-8.text-right
        - activity_years_range(@organization.id).each do |year|
          %li= link_to year.to_date.strftime("%Y"), organization_path(:id => @organization.id, :month => year.to_date.strftime("01-%m-%Y")), :class => "btn button #{calendar_button_class(@current_month, year)}"
  .row
    .col-md-2
      - if previous_month(@current_month, @organization.id).present?
        = link_to organization_path(:id => @organization.id, :month => previous_month(@current_month, @organization.id).to_date.strftime("01-%m-%Y")), :class => "pull-right calendar-navigation-link" do
          = image_tag "left-arrow.png", :class => "calendar-navigation"
          = I18n.l(previous_month(@current_month, @organization.id).to_date, :format => :month_year)
    #calendar-content.col-md-8
      - if @opening_plans.any?
        - @opening_plans.group_by(&:publication_month_day).sort.each do |day, opeing_plans|
          .day-holder{:id => "day-#{day}"}
            .day-group.col-md-2
              %h2= day
            .day-topics-holder
              - opeing_plans.each do |opening_plan|
                - cache ['opeing_plans', opening_plan] do
                  .topic-item{:id => "topic-#{opening_plan.id}"}
                    %span.topic-label Visión institucional de datos abiertos:
                    = opening_plan.vision
                    %span.topic-label Conjuntos de datos priorizados:
                    = opening_plan.name
                    %br/
                    - if opening_plan.description.present?
                      %span.topic-label Descripción de los conjuntos:
                      %span.expandable= opening_plan.description
      - else
        %p
          %em No hay áreas o temas programados.
    .col-md-2
      - if next_month(@current_month, @organization.id).present?
        = link_to organization_path(:id => @organization.id, :month => next_month(@current_month, @organization.id).to_date.strftime("01-%m-%Y")), :class => "calendar-navigation-link" do
          %span.next= I18n.l(next_month(@current_month, @organization.id).to_date, :format => :month_year)
          = image_tag "right-arrow.png", :class => "calendar-navigation"
