<div class="section-content" data-pjax-container>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="calendar-heading col-md-4"><%= I18n.l(Date.parse(@current_month), :format => :month) %></h2>
      <ul class="calendar-nav-bar list-inline col-md-8 text-right">
        <% activity_years_range(@organization.id).each do |year| %>
          <li><%= link_to year.to_date.strftime("%Y"), organization_path(:id => @organization.id, :month => year.to_date.strftime("01-%m-%Y")), :class => "btn button #{calendar_button_class(@current_month, year)}" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <% if previous_month(@current_month, @organization.id).present? %>
        <%= link_to organization_path(:id => @organization.id, :month => previous_month(@current_month, @organization.id).to_date.strftime("01-%m-%Y")), :class => "pull-right calendar-navigation-link" do %>
          <%= image_tag "left-arrow.png", :class => "calendar-navigation" %>
          <%= I18n.l(previous_month(@current_month, @organization.id).to_date, :format => :month_year) %>
        <% end %>
      <% end %>
    </div>
    <div id="topics-list" class="col-md-8">
      <% if @topics.any? %>
        <% @topics.group_by(&:publication_month_day).sort.each do |day, topics| %>
          <div id='<%= "day-#{day}" %>' class="day-holder">
            <div class="day-group col-md-2">
              <h2><%= day %></h2>
            </div>
            <div class="day-topics-holder">
              <% topics.each do |topic| %>
                <div id="topic-<%= topic.id %>" class="topic-item">
                  <span><%= topic.name %></span>
                  <% if current_organization == @organization %>
                    <span class="edit-tools pull-right">
                      <a class="edit" id="edit-topic-<%= topic.id %>-link" href="#">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                      <a class="delete" href="/topics/<%= topic.id%>" data-confirm="Esta acción no es reversible. ¿Estás seguro que deseas eliminar esta entrada?" data-method="delete" id="delete-topic-<%= topic.id %>-link" data-remote="true">
                        <span class="glyphicon glyphicon-trash"></span>
                      </a>
                    </span>
                  <% end %>
                  <br/>
                  <span class="topic-label">Responsable: <%= topic.owner %></span><br/>
                  <span><%= topic.description %></span>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p><em>No hay áreas o temas programados.</em></p>
      <% end %>
    </div>
    <div class="col-md-2">
      <% if next_month(@current_month, @organization.id).present? %>
        <%= link_to organization_path(:id => @organization.id, :month => next_month(@current_month, @organization.id).to_date.strftime("01-%m-%Y")), :class => "calendar-navigation-link" do %>
          <span class="next"><%= I18n.l(next_month(@current_month, @organization.id).to_date, :format => :month_year) %></span>
          <%= image_tag "right-arrow.png", :class => "calendar-navigation" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<br><br><br><br>
<div id="topics-listing"></div>
<div id="new-topic-container"></div>
<script>
  $(function () {
    new Topics.Form({
      show_form_button: "#new-topic-button",
      form_container: "#new-topic-container",
      success_callback: function (data) {
        var item = new Topics.Item(data);
        item.load_in("#topics-listing");
      }
    });
  });
</script>