<%= render "layouts/flash_messages", :flash => flash %>
<br/>
<%= render "layouts/org_header" %>
<div class="container">
  <div class="dashboard-wrapper">
    <div class="section-heading">
      <span class="activity-icon h4">Actividad reciente</span>
      <div class="legends col-md-5 pull-right">
        <span class="publication-legend"><small>Publicaciones</small></span>
        <span class="update-legend"><small>Actualizaciones</small></span>
      </div>
    </div>
    <div class="section-content table-responsive">
      <table class="expanded-table activity-logs">
        <% unless  @organization.activity_logs.any? %>
          <tr class="table-footer">
            <td></td>
            <td class="icon"></td>
            <td></td>
            <td><em>No existe actividad reciente.</em></td>
            <td></td>
          </tr>
        <% end %>
        <% @organization.activity_logs.first_block.each do |activity| %>
          <tr>
            <td></td>
            <td class="icon"><%= image_tag "#{activity.category}-log.png" %></td>
            <td class="date"><%= "Hace #{time_ago_in_words(activity.done_at)}" %></td>
            <td class="text"><%= "#{@organization.title} #{activity.description}" %></td>
            <td></td>
          </tr>
        <% end %>
        <% @organization.activity_logs.last_block.each do |activity| %>
          <tr class="more-activities hidden">
            <td></td>
            <td class="icon"><%= image_tag "#{activity.category}-log.png" %></td>
            <td class="date"><%= "Hace #{time_ago_in_words(activity.done_at)}" %></td>
            <td class="text"><%= "#{@organization.title} #{activity.description}" %></td>
            <td></td>
          </tr>
        <% end %>
        <% if @organization.activity_logs.last_block.any? %>
          <tr class="table-footer">
            <td></td>
            <td class="icon"></td>
            <td><%= link_to "Ver más actividad", "#", :id => "view_more", :class => "dashboard-link" %>
            <%= link_to "Ver menos actividad", "#", :id => "view_less", :class => "dashboard-link more-activities hidden" %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="section-heading">
      <span class="inventory-icon h4">Inventario de datos</span>
      <div class="legends col-md-5 pull-right">
        <span class="published-legend"><small>Inventario publicado</small></span>
      </div>
    </div>
    <%= render "inventories/inventories_list" %>
    <% if current_organization == @organization %>
      <div class="section-links">
        <div class="col-md-4 col-md-offset-6">
          <%= link_to "Actualizar inventario", inventories_path, :class => "btn button pull-right" %>
        </div>
      </div>
    <% end %>
    <div class="section-heading">
      <span class="calendar-icon h4">Programa de apertura</span>
    </div>
    <%= render "organizations/topics_list" %>
    <% if current_organization == @organization %>
      <div class="section-links">
        <div class="col-md-4 col-md-offset-6">
          <button type="button" id="new-topic-button" class="btn button pull-right">
            <span class="glyphicon glyphicon-plus"></span>
            Agregar nueva actividad
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>