<br/>
<%= render "layouts/flash_messages", :flash => flash %>
<br/>
<% if @organization.last_file_version.present? %>
  <div class="row">
    <div class="col-md-10">
      <%= image_tag "csv_file.png", :class => "pull-left csv-file" %>
      <div class="h4">
        <small>Última versión: </small><%= I18n.l(@organization.last_file_version.created_at, :format => :short) %>
      </div>
      <div class="h4">
        <small>Actualizado por: </small><%= @organization.last_file_version.author %>
      </div>
      <div class="h4">
        <small>Conjuntos de datos: </small><%= about_datasets(@organization.last_file_version) %>
      </div>
      <div class="h4">
        <%= link_to (content_tag(:span, "", :class => "glyphicon glyphicon-cloud-upload" ) + "Subir nueva versión"), new_inventory_path(:new_version => true), :class => "btn btn-default" %>
        <%= link_to (content_tag(:span, "", :class => "glyphicon glyphicon-cloud-download" ) + "Descargar esta versión"), @organization.last_file_version.csv_file.url, :class => "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="dashboard-history col-md-6 pull-left">
    <h4>Versiones Pasadas</h4>
    <% if @organization.old_file_versions.any? %>
      <% @organization.old_file_versions.each do |inventory| %>
        <div>
          <span class="h5"><%= inventory_history(inventory) %></span>
          <%= link_to content_tag(:span, "", :class => "glyphicon glyphicon-cloud-download"), inventory.csv_file.url %>
        </div>
      <% end %>
    <% else %>
      <div class="h4">
        <small>Todavía no hay más versiones</small>
      </div>
    <% end %>
  </div>
  <% if @organization.current_catalog.present? %>
    <div class="col-md-6 pull-right">
      <h4>Versión Publicada</h4>
      <br/>
      <%= image_tag "csv_file.png", :class => "pull-left csv-file" %>
      <div class="h4">
        <small>Última versión: </small><%= I18n.l(@organization.current_catalog.created_at, :format => :short) %>
      </div>
      <div class="h4">
        <small>Actualizado por: </small><%= @organization.current_catalog.author %>
      </div>
      <div class="h4">
        <small>Conjuntos de datos: </small><%= about_datasets(@organization.current_catalog) %>
      </div>
      <% if @organization.last_inventory_is_unpublished? %>
        <br/>
        <div class="alert alert-danger">
          OJO: La versión publicada no es la última versión.
        </div>
        <%= link_to "Publicar última versión", "#", :class => "btn btn-default", :id => "save_inventory" %>
      <% else %>
        <br/>
        <div class="alert alert-success">
          Muy bien. La última versión está publicada.
        </div>
      <% end %>
    </div>
  <% elsif current_inventory.present? %>
    <%= render "inventories/publish_form", :from_dashboard => true %>
  <% end %>
  <div class="publish-form-holder hidden">
    <%= render "inventories/publish_form", :from_dashboard => true %>
  </div>
</div>
