<div class="row">
  <div class="col-md-6 disabled-tab">
    <div class="first-step">
      <h3>Plan de apertura <br/> <small>No tienes un plan de datos todavía.</small></h3>
    </div>
  </div>
  <a href='<%= new_inventory_path %>'>
    <div class="col-md-6 disabled-tab step-tab">
      <div class="second-step">
        <h3>
          Inventario de datos
          <br/>
          <% if current_organization.last_file_version.present? %>
            <small>Última actualización: <strong><%= I18n.l(current_organization.last_file_version.created_at, :format => :short) %></strong></small>
            <% if current_organization.current_catalog.present? %>
              <br/>
              <small>Última publicación: <strong><%= I18n.l(current_organization.current_catalog.publish_date, :format => :short) %></strong></small>
            <% end %>
          <% else %>
            <small>No tienes un inventario de datos cargado todavía.</small>
          <% end %>
        </h3>
      </div>
    </div>
  </a>
</div>
<br/>
<%= render "layouts/flash_messages", :flash => flash %>
<br/>
<% if @organization.last_file_version.present? %>
  <div class="row">
    <div class="col-md-10">
      <%= image_tag "csv_file_x.png", :class => "pull-left csv-file" %>
      <div class="h4">
        <small>Última versión:</small><%= I18n.l(@organization.last_file_version.created_at, :format => :short) %>
      </div>
      <div class="h4">
        <small>Actualizado por:</small><%= @organization.last_file_version.author %>
      </div>
      <div class="h4">
        <small>Set de datos:</small><%= "#{@organization.last_file_version.public_datasets_count} sets públicos y #{@organization.last_file_version.private_datasets_count} sets privados" %>
      </div>
      <div class="h4">
        <%= link_to (content_tag(:span, "", :class => "glyphicon glyphicon-cloud-upload" ) + "Subir nueva versión"), new_inventory_path(:new_version => true), :class => "btn btn-default" %>
        <%= link_to (content_tag(:span, "", :class => "glyphicon glyphicon-cloud-download" ) + "Descargar esta versión"), @organization.last_file_version.csv_file.url, :class => "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="dashboard-history col-md-6 pull-left">
    <h4>Versiones Pasadas</h4>
    <% if @organization.old_file_versions.any? %>
      <% @organization.old_file_versions.each do |inventory| %>
        <div>
          <span class="h5"><%= inventory_history(inventory) %></span>
          <%= link_to content_tag(:span, "", :class => "glyphicon glyphicon-cloud-download"), inventory.csv_file.url %>
        </div>
      <% end %>
    <% else %>
      <div class="h4">
        <small>Todavía no hay más versiones</small>
      </div>
    <% end %>
  </div>
  <% if @organization.current_catalog.present? %>
    <div class="col-md-6 pull-right">
      <h4>Versión Publicada</h4>
      <br/>
      <%= image_tag "csv_file_x.png", :class => "pull-left csv-file" %>
      <div class="h4">
        <small>Última versión:</small><%= I18n.l(@organization.current_catalog.created_at, :format => :short) %>
      </div>
      <div class="h4">
        <small>Actualizado por:</small><%= @organization.current_catalog.author %>
      </div>
      <div class="h4">
        <small>Set de datos:</small><%= "#{@organization.current_catalog.public_datasets_count} sets públicos y #{@organization.current_catalog.private_datasets_count} sets privados" %>
      </div>
      <% if @organization.last_inventory_is_unpublished? %>
        <br/>
        <div class="alert alert-danger">
          OJO: La versión publicada no es la última versión.
        </div>
        <%= link_to "Publicar última versión", "#", :class => "btn btn-default", :id => "save_inventory" %>
      <% end %>
    </div>
  <% elsif current_inventory.present? %>
    <%= render "inventories/publish_form", :from_dashboard => true %>
  <% end %>
  <div class="publish-form-holder hidden">
    <%= render "inventories/publish_form", :from_dashboard => true %>
  </div>
</div>