<%= render "layouts/flash_messages", :flash => flash %>
<br/>
<div class="container">
  <% if user_signed_in? %>
    <div class="org-header row col-md-4 col-md-offset-8">
      <span class="org-data col-md-4 col-md-offset-1"><%= @organization.title.upcase %></span>
      <span class="org-data col-md-6"><%= current_user.name%></span>
      <span class="org-data col-md-1"><%= image_tag "white-arrow.png" %></span>
    </div>
  <% end %>
  <div class="org-about col-md-12">
    <div class="col-md-3 col-md-offset-2 text-left">
      <span class="heading"><%= @organization.title %></span>
    </div>
    <div class="col-md-5">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ante diam. Mauris non felis tortor. Sed ut imperdiet arcu.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="dashboard-wrapper">
    <div class="section-heading">
      <span class="activity-icon h4">Actividad reciente</span>
    </div>
    <div class="section-content table-responsive">
      <table class="expanded-table activity-logs table">
        <% @organization.activity_logs.first_block.each do |activity| %>
          <tr>
            <td></td>
            <td class="icon"><%= image_tag "#{activity.category}-log.png" %></td>
            <td class="date"><%= "Hace #{time_ago_in_words(activity.done_at)}" %></td>
            <td class="text"><%= "#{@organization.title} #{activity.description}" %></td>
            <td></td>
          </tr>
        <% end %>
        <% @organization.activity_logs.last_block.each do |activity| %>
          <tr class="more-activities hidden">
            <td></td>
            <td class="icon"><%= image_tag "#{activity.category}-log.png" %></td>
            <td class="date"><%= "Hace #{time_ago_in_words(activity.done_at)}" %></td>
            <td class="text"><%= "#{@organization.title} #{activity.description}" %></td>
            <td></td>
          </tr>
        <% end %>
        <% if @organization.activity_logs.last_block.any? %>
          <tr>
            <td></td>
            <td class="icon"></td>
            <td><%= link_to "Ver más actividad", "#", :id => "view_more", :class => "dashboard-link" %>
            <%= link_to "Ver menos actividad", "#", :id => "view_less", :class => "dashboard-link more-activities hidden" %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="section-heading">
      <span class="inventory-icon h4">Inventario de datos</span>
    </div>
    <div class="section-content table-responsive">
      <table class="expanded-table inventories-list table">
        <thead>
          <th></th>
          <th class="icon"></th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Conjuntos de datos</th>
          <th>Recursos</th>
          <th>Descargar</th>
          <th></th>
        </thead>
        <tbody>
        <% if @organization.current_catalog.present? %>
          <tr>
            <td></td>
            <td><%= image_tag "mini-inventory.png" %></td>
            <td><%= I18n.l(@organization.current_catalog.created_at, :format => :short) %></td>
            <td><%= I18n.l(@organization.current_catalog.created_at, :format => :hour) %></td>
            <td><%= @organization.current_catalog.datasets_count %></td>
            <td><%= @organization.current_catalog.distributions_count %></td>
            <td><%= link_to image_tag("download.png"), @organization.current_catalog.csv_file.url %></td>
            <td></td>
          </tr>
        <% end %>
        <% @inventories.each do |inventory| %>
          <tr>
            <td></td>
            <td><%= image_tag "update-log.png" %></td>
            <td><%= I18n.l(inventory.created_at, :format => :short) %></td>
            <td><%= I18n.l(inventory.created_at, :format => :hour) %></td>
            <td><%= inventory.datasets_count %></td>
            <td><%= inventory.distributions_count %></td>
            <td><%= link_to image_tag("download.png"), inventory.csv_file.url %></td>
            <td></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 col-md-offset-6">
      <%= will_paginate @inventories, :class => "pagination pull-right" %>
    </div>
    <div class="col-md-4 col-md-offset-6">
      <%= link_to "Cargar nuevo inventario", new_inventory_path, :class => "btn button pull-right" %>
    </div>
    <div class="section-heading">
      <span class="calendar-icon h4">Programa de apertura</span>
    </div>
    <div class="section-content">
      <%= link_to "Programa de apertura", topics_path, :class => "btn button" %>
    </div>
  </div>
</div>


<% if @organization.last_file_version.present? %>
  <div class="row">
    <div class="col-md-10">
      <%= image_tag "csv_file.png", :class => "pull-left csv-file" %>
      <div class="h4">
        <small>Última versión: </small><%= I18n.l(@organization.last_file_version.created_at, :format => :short) %>
      </div>
      <div class="h4">
        <small>Actualizado por: </small><%= @organization.last_file_version.author %>
      </div>
      <div class="h4">
        <small>Conjuntos de datos: </small><%= about_datasets(@organization.last_file_version) %>
      </div>
      <div class="h4">
        <%= link_to (content_tag(:span, "", :class => "glyphicon glyphicon-cloud-upload" ) + "Subir nueva versión"), new_inventory_path(:new_version => true), :class => "btn btn-default" %>
        <%= link_to (content_tag(:span, "", :class => "glyphicon glyphicon-cloud-download" ) + "Descargar esta versión"), @organization.last_file_version.csv_file.url, :class => "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="dashboard-history col-md-6 pull-left">
    <h4>Versiones Pasadas</h4>
    <% if @organization.old_file_versions.any? %>
      <% @organization.old_file_versions.each do |inventory| %>
        <div>
          <span class="h5"><%= inventory_history(inventory) %></span>
          <%= link_to content_tag(:span, "", :class => "glyphicon glyphicon-cloud-download"), inventory.csv_file.url %>
        </div>
      <% end %>
    <% else %>
      <div class="h4">
        <small>Todavía no hay más versiones</small>
      </div>
    <% end %>
  </div>
  <% if @organization.current_catalog.present? %>
    <div class="col-md-6 pull-right">
      <h4>Versión Publicada</h4>
      <br/>
      <%= image_tag "csv_file.png", :class => "pull-left csv-file" %>
      <div class="h4">
        <small>Última versión: </small><%= I18n.l(@organization.current_catalog.created_at, :format => :short) %>
      </div>
      <div class="h4">
        <small>Actualizado por: </small><%= @organization.current_catalog.author %>
      </div>
      <div class="h4">
        <small>Conjuntos de datos: </small><%= about_datasets(@organization.current_catalog) %>
      </div>
      <% if @organization.last_inventory_is_unpublished? %>
        <br/>
        <div class="alert alert-danger">
          OJO: La versión publicada no es la última versión.
        </div>
        <%= link_to "Publicar última versión", "#", :class => "btn btn-default", :id => "save_inventory" %>
      <% else %>
        <br/>
        <div class="alert alert-success">
          Muy bien. La última versión está publicada.
        </div>
      <% end %>
    </div>
  <% elsif current_inventory.present? %>
    <%= render "inventories/publish_form", :from_dashboard => true %>
  <% end %>
  <div class="publish-form-holder hidden">
    <%= render "inventories/publish_form", :from_dashboard => true %>
  </div>
</div>
