.container
  %ol.breadcrumb.breadcrumb-admin
    %li= link_to 'Admin', admin_root_path
    %li= link_to 'Usuarios', admin_users_path
    %li= link_to 'Editar', edit_admin_user_path(@user)
    %li.active Contraseña
  .card
    %h3.title Editar Contraseña
    = form_for([:admin, @user], url: update_password_admin_user_path(@user), method: :put) do |f|
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'
      .form-group
        = link_to 'Cancelar', edit_admin_user_path(@user), class: 'btn btn-primary'
        = f.button 'Guardar', type: 'submit', class: 'btn btn-primary'
