.container
  %ol.breadcrumb.breadcrumb-admin
    %li= link_to 'Admin', admin_root_path
    %li= link_to 'Usuarios', admin_users_path
    %li= link_to 'Editar', edit_admin_user_path(@user)
    %li.active Contraseña
  .dashboard-wrapper
    .section-heading
      %span.h4
        Editar Contraseña
    .row
      .col-md-2
      .col-md-8.topic-form-holder.data-controls
        = form_for([:admin, @user], :url => update_password_admin_user_path(@user), :method => :put, html: {class: "form-horizontal"}) do |f|
          .form-group.text-right
            = f.label :password, :class => "control-label col-sm-3"
            .col-sm-9
              = f.password_field :password, :class => "form-control"
          .form-group.text-right
            = f.label :password_confirmation, :class => "control-label col-sm-3"
            .col-sm-9
              = f.password_field :password_confirmation, :class => "form-control"
          .form-group
            .submit-row.col-sm-offset-3.col-sm-9.text-right
              = link_to 'Cancelar', edit_admin_user_path(@user), :class => "btn cancel button"
              = f.button "Guardar", :type => "submit", :class => "btn button"
