.container
  %ol.breadcrumb.breadcrumb-admin
    %li= link_to 'Admin', admin_root_path
    %li= link_to 'Usuarios', admin_users_path
    %li.active Importar
  .card
    %h3.title Importar Usuarios
    %p
      Asegúrate de que contenga las columnas:
      %strong "nombre", "email", "organizacion"
      = form_tag(admin_create_users_path, :method => :post, multipart: true) do
        .form-group
          %label.block Archivo CSV *
          .file_input
            = file_field_tag :csv_file
        .form-group
          %button.btn.btn-primary{ type: 'submit' } Importar usuarios
          = link_to 'Cancelar', admin_users_path, class: 'btn btn-primary'
        %p * Campos obligatorios
