.container
  .card
    %h3.title Planea
    %h5.subtitle Plan de apertura
    %p
      El plan de apertura contiene el calendario de publicaci&oacute;n anual
      de los datos abiertos de la instituci&oacute;n
    - unless current_inventory
      .card.padding-top.bg--grey
        %p.primary.boldish
          Publica el inventario de datos
        %p
          Antes de generar el Plan de apertura de la institución debes de subir el Inventario de Datos.
        = link_to 'Subir', new_inventory_path, class: 'btn btn-primary'
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Nombre del conjunto
            %th Descripci&oacute;n
            %th Acceso
            %th Frecuencia con la que actualizan
            %th Confirmar fecha de Publicaci&oacute;n
        %tbody
          - @organization.catalog.datasets.each do |dataset|
            %tr
              %th= dataset.title
              %th= dataset.description
              %th P&uacute;blico
              %th= parse_iso8601(dataset.accrual_periodicity)
              %th= dataset.publish_date
      = link_to 'Descargar Archivo', export_opening_plan_path(current_organization, format: :csv), class: 'btn btn-primary'
      = link_to 'Actualizar Plan de Apertura', new_opening_plan_path, class: 'btn btn-primary'
