.container
  .card
    %h3.title Planea
    %h5.subtitle Plan de apertura
    %p
      El plan de apertura contiene el calendario de publicaci&oacute;n anual
      de los datos abiertos de la instituci&oacute;n
    - if current_inventory.nil?
      .card.padding-top.bg--grey
        %p.primary.boldish
          Publica el inventario de datos
        %p
          Antes de generar el Plan de apertura de la institución debes de subir el Inventario de Datos.
    - elsif current_inventory.inventory_elements.all?(&:private)
      .card.padding-top.bg--grey
        %h5.primary.boldish Tu Inventario de Datos no contiene conjuntos públicos
        %p
          El Inventario de Datos debe de contener al menos un conjunto de datos público para generar el Plan de Apertura.
        = link_to 'Revisar el Inventario de Datos', inventories_es_path, class: 'btn btn-primary'
    - else
      = form_for @organization, url: url_for(controller: 'opening_plan', action: 'create'), html: { class: 'form', id: 'opening-plan-form' }, method: 'post' do |f|
        %table.table.table-striped
          %thead
            %tr
              %th
              %th Nombre del conjunto
              %th Descripci&oacute;n
              %th Acceso
              %th Frecuencia con la que actualizan
              %th Confirmar fecha de Publicaci&oacute;n
          %tbody
            - @organization.opening_plans.each do |plan|
              = f.fields_for :opening_plans, plan do |builder|
                %tr
                  %th= builder.check_box :_destroy, { checked: true, class: 'validable' }, '0', '1'
                  %th= builder.text_field :name, readonly: true, required: true
                  %th= builder.text_field :description, required: true
                  %th P&uacute;blico
                  %th= builder.select :accrual_periodicity, iso8601_repeating_interval_options_for_select(builder.object.accrual_periodicity), { class: 'form-control' }
                  %th= builder.text_field :publish_date, required: true, class: 'datepicker'
        = f.button 'Generar Plan de Apertura', type: 'submit', class: 'btn btn-primary'

:javascript
  function updateValidations(event) {
    function id() {
      return event.target.id.match(/^organization_opening_plans_attributes_(\d+)__destroy/)[1];
    }

    function description() {
      return $("#organization_opening_plans_attributes_" + id() + "_description");
    }

    function title() {
      return $("#organization_opening_plans_attributes_" + id() + "_name");
    }

    function publishDate() {
      return $("#organization_opening_plans_attributes_" + id() + "_publish_date");
    }

    function descriptionErrorLabel() {
      return $("#organization_opening_plans_attributes_" + id() + "_description-error");
    }

    function publishDateErrorLabel() {
      return $("#organization_opening_plans_attributes_" + id() + "_publish_date-error");
    }

    function removeRequiredAttribute() {
      description().removeAttr("required");
      title().removeAttr("required");
      publishDate().removeAttr("required");
    }

    function addRequiredAttribute() {
      description().attr("required", "");
      title().attr("required", "");
      publishDate().attr("required", "");
    }

    function removeErrors() {
      description().removeClass("error");
      publishDate().removeClass("error");
      descriptionErrorLabel().remove();
      publishDateErrorLabel().remove();
    }

    if ($(this).is(":checked")) {
      addRequiredAttribute();
    } else {
      removeRequiredAttribute();
      removeErrors();
    }
  };

  $(function() {
    $( ".validable" ).change(updateValidations);
    $.datepicker.setDefaults({ dateFormat: 'yy-mm-dd' });
    $( ".datepicker" ).datepicker();
    $( "#opening-plan-form" ).validate();
  });
