.container
  .card
    %h3.title Planea
    %h5.subtitle Plan de apertura
    %p
      El plan de apertura contiene el calendario de publicaci&oacute;n anual
      de los datos abiertos de la instituci&oacute;n
    - if current_inventory.nil?
      .card.padding-top.bg--grey
        %p.primary.boldish
          Publica el inventario de datos
        %p
          Antes de generar el Plan de apertura de la institución debes de subir el Inventario de Datos.
        = link_to 'Subir', new_inventory_path, class: 'btn btn-primary'
    - else
      = form_for @organization, url: url_for(controller: 'opening_plan', action: 'create'), html: { class: 'form', id: 'opening-plan-form' }, method: 'post' do |f|
        %table.table.table-striped
          %thead
            %tr
              %th
              %th Nombre del conjunto
              %th Descripci&oacute;n
              %th Acceso
              %th Frecuecia con la que actualizan
              %th Confirmar fecha de Publicaci&oacute;n
          %tbody
            - @organization.opening_plans.each do |plan|
              = f.fields_for :opening_plans, plan do |builder|
                %tr
                  %th= check_box_tag "included_datasets[]", plan.name, 1
                  %th= builder.text_field :name, readonly: true, required: true
                  %th= builder.text_field :description, required: true
                  %th P&uacute;blico
                  %th= builder.select :accrual_periodicity, iso8601_repeating_interval_options_for_select(builder.object.accrual_periodicity), { class: 'form-control' }
                  %th= builder.text_field :publish_date, required: true, class: 'datepicker'
        = f.button 'Generar Plan de Apertura', type: 'submit', class: 'btn btn-primary'

:javascript
  $(function() {
    $.datepicker.setDefaults({ dateFormat: 'yy-mm-dd' });
    $( ".datepicker" ).datepicker();
    $( "#opening-plan-form" ).validate();
  });
