<div class="container-fluid">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <%= link_to "ADELA", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Cambiar contrase침a", edit_user_password_path  %></li>
          <li><%= link_to "Cerrar sesi칩n", destroy_user_session_path, :method => :delete %></li>
        </ul>
        <div class="navbar-brand pull-right">
          <small>Tu organizaci칩n: </small><%= link_to current_organization.title, organization_path(current_organization), :class => "h3" %>
        </div>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Iniciar sesi칩n", new_user_session_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
