<div class="header">
  <%= link_to root_path, {:class => "logo-text"} do %>
    <div class="logo col-md-2 pull-left">
      <span class="logo-text">Abrir para <strong>innovar</strong></span>
    </div>
  <% end %>
  <div class="nav-actions col-md-3 pull-right">
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "Mi organizaci칩n", organization_path(current_organization) %></li>
        <li><%= link_to "Cerrar sesi칩n", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Iniciar sesi칩n", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
<% if session[:from_admin]%>
  <div class="alert alert-danger">
    <span class="danger"></span>
    Est치s en ADELA como <strong><%= "#{current_user.name} de #{current_organization.title.upcase}." %></strong>
    <%= link_to "Volver al administrador", admin_stop_acting_path, :method => :post, :class => "pull-right" %>
  </div>
<% end %>
