<header id="header">
  <div id="logo" class="col-md-3">
    <h1 id="logo-base"><%= link_to "", root_path %></h1>
    <div id="tagline">
      <span>Abrir para</span>
      <div class="tagline-mask">
        <ul>
          <li>innovar</li>
          <li>emprender</li>
          <li>transparentar</li>
          <li>participar</li>
          <li>ahorrar</li>
          <li>evaluar</li>
          <li>eficientar</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav-actions col-md-3 pull-right">
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <%= render partial: "/layouts/shared/signed_in_menu" %>
      <% else %>
        <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</header>
<% if session[:from_admin]%>
  <div class="alert alert-danger">
    <span class="danger"></span>
    Estás en ADELA como <strong><%= "#{current_user.name} de #{current_organization.title.upcase}." %></strong>
    <%= link_to "Volver al administrador", admin_stop_acting_path, :method => :post, :class => "pull-right" %>
  </div>
<% end %>
