!!!
%html
  %head
    %title Adela
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "layouts/header"
    = render "layouts/shared/breadcrumbs"
    = render "layouts/flash_messages", flash: flash
    = yield
    = render "layouts/footer"
    :javascript
      var _sf_async_config = { uid: 62850, domain: 'adela.datos.gob.mx', useCanonical: true };
      (function() {
        function loadChartbeat() {
          window._sf_endpt = (new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
          document.body.appendChild(e);
         };
         var oldonload = window.onload;
         window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
       })();
